<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MOOC</title>

  </head>
  <body>

    {% include 'includes/header3.twig' %}

    <div class="row">
      <div class="large-10 large-push-1 medium-8 medium-push-2 columns">
        <div class="callout large">
          <h3>Création du QCM</h3><hr>
          <div class="row">
            <div class="large-3 medium-3 small-12 columns" style="padding:0">
              <span class="prefix">Nombre de question </span>
            </div>
            <div class="large-9 columns" style="padding:0">
              <input type="number" id="qte" min="1" max="30" value="1">
            </div>
            <div class="large-12 medium-12 small-12 text-center columns">
              <button type="button" class="button" id="qte_qcm">Ok</button>
            </div>
          </div>

          <div id="affqcm">

          </div>
        </div>
      </div>
    </div>

    {% include 'includes/paramScript3.html' %}
  </body>
</html>
