<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MOOC</title>

  </head>
  <body ng-app="fav">
    {% include 'includes/header3.twig' %}

    <div class="row">
      <div class="large-12 medium-12 columns">
          <div class="callout large">
          <h3>Résultat :</h3><hr>
            <h3>{{point}}/{{total}} </h3>
            {% if  faute %}
              <p> Vous avez fait une faute aux questions suivantes:  </p>
              {% for fautes in faute %}
                <p> <strong>Question n°{{fautes.num}}:</strong> {{fautes.intitule}}</p>
                <p> Vous avez répondu: <strong>{{fautes.rep}}</strong> </p>
              {% endfor %}
            {% else %}
              <p> Zéro fautes! Félicitations! </p>
            {% endif %}
            <hr/>
            {% if total/(point+0.1) < 2 %}
              <p> Bravo vous avez la moyenne! <p>
              <a href="../{{idgro}}" class="button">Accéder à la suite du cours</a>
            {% else %}
              <p> Vous ne pouvez pas débloquer la suite du cours sans avoir la moyenne... </p>
              <a href="../{{idgro}}" class="button">Retourner au cours</a>
            {% endif %}
          </div>
        </div>
    </div>
    {% include 'includes/paramScript3.html' %}

  </body>
</html>
