<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>

    </head>
    <body ng-app="app">

        {% include 'includes/header3.twig' %}

        <div class="row">
            <div class="large-12 medium-12 columns">
                <div class="callout large">
                    <h3>Mes Resultats</h3><hr>

                    <div id="tab_gen" align="center">
                        <table>
                            <tr>
                                <th>Titre du cours</th>
                                <th>Niveau du cours</th>
                                <th>Note </th>
                            </tr>
                            
                            {% for notes in note %}
                                <tr>
                                    {% for cou in cours %}
                                        {% if notes.id_cou == cou.id_cou %}

                                            {% for gro in groupe %}
                                                {% if cou.id_gro == gro.id_gro %}
                                                    <td align="center">{{gro.titre_cou}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        <td align="center">  {{cou.lvl}}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td align="center">{{notes.resultat_not}}</td>
                                </tr>
                            {% else %}
                                <tr><td colspan="3">Pas de notes</td></tr>
                            {% endfor %}
                                
                            </br>
                    </div>
                </div>
            </div>
        </div>


        {% include 'includes/paramScript3.html' %}

    </body>
</html>
