body
{
    width: 100%;
}

#tab_gen > table
{
    width: 80%;
}

#tab_gen > table > tbody > tr > td:first-child
{
    width: 25%;
}

#etat
{
    font-size: 0.7em;
}

#infogen
{
    background-color: red;
}

.AMod
{
    box-sizing: border-box;
    width: 90%;
    height: 2.4375rem;
    padding: 0.25rem;
    border: 1px solid #cacaca;
    border-radius: 5px;
    margin-right: 3%;
}


@media screen and (min-width: 100px) and (orientation: portrait)
{
    #photo
    {
        height: 180px;
        width: 180px;
        border: 1px solid black;
    }
    #co
    {
        margin: 4% 0;
    }
    .orbit-image
    {
        height: 300px;
    }
    .cours
    {
        height: 400px;
    }
}

@media screen and (min-width: 100px) and (orientation: landscape)
{
    #photo {
        height: 180px;
        width: 180px;
        border: 1px solid black;
    }
    #co {
        margin: 4% 0;
    }
    .orbit-image {
        height: 250px;
    }
    .cours
    {
        height: 400px;
    }
}

@media screen and (min-width: 600px) and (orientation: portrait)
{
    #photo
    {
        height: 180px;
        width: 180px;
        border: 1px solid black;
    }
    #co
    {
        margin: 1% 0;
    }
    .orbit-image
    {
        height: 500px;
    }
    .cours
    {
        height: 700px;
    }
}

@media screen and (min-width: 500px) and (orientation: landscape)
{
    #photo
    {
        height: 180px;
        width: 180px;
        border: 1px solid black;
    }
    #co
    {
        margin: 1% 0;
    }
    .orbit-image
    {
        height: 300px;
    }
    .cours
    {
        height: 1000px;
    }
}

@media screen and (min-width: 1000px)
{
    #photo
    {
        height: 180px;
        width: 180px;
        border: 1px solid black;
    }
    #co
    {
        margin: 1% 0;
    }
    .orbit-image
    {
        height: 600px;
    }
    .cours
    {
        height: 1000px;
    }
}

.error { color: red; font-style: italic; }
.indice { color: blue; font-style: italic; text-align: right; margin-right: 5%; font-size: 0.8em; }
.indice-left { color: blue; font-style: italic; text-align: left; margin-left: 5%; font-size: 0.8em; }

.btn-search { width: 100px !important; }

.btn-menu {
    padding:20px 20px;
    margin: 0;
    background-color: white;
    background-image: url(../img/menu.png) !important;
}

.slide {
  padding: 10px 10px 10px 10px;
}
