<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>
    </head>
    <body>

        <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
            <button class="btn-menu" type="button" data-toggle></button>
            <div class="title-bar-title">Menu</div>
        </div>

        <link rel="stylesheet" href="../../../../public/css/ajout.css" />

        <!-- Make sure you have the foundation base, and icons (v3) CSS -->
        <link rel="stylesheet" type="text/css" href="../../../../public/css/foundation.css" />
        <link rel="stylesheet" type="text/css" href="../../../../public/css/foundation-icons.css" />

        <!-- Add the foundation calendar CSS -->
        <link rel="stylesheet" type="text/css" href="../../../../public/css/foundation_calendar.css" />

        <!-- Make sure you have jQuery, date.js loading properly -->
        <script type="text/javascript" src="../../../../public/js/jquery.js" ></script>
        <script type="text/javascript" src="../../../../public/js/date.js" ></script>

        <!-- Add the foundation calendar Javascript -->
        <script type="text/javascript" src="../../../../public/js/foundation_calendar.js" ></script>
        <script type="text/javascript" src="../../../../public/js/date-helpers.js" ></script>
        <script type="text/javascript" src="../../../../public/js/string-helpers.js" ></script>

        <div class="top-bar" id="example-menu">
            <div class="top-bar-left">
                <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
                    <li class="menu-text">MOOC</li>
                    <li><a href="../../../">Accueil</a></li>
                    <li class="has-submenu">
                        {% if session.id is defined %}
                        <a href="">{{session.pnom|e}} {{session.nom|e}}</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="../../../user/{{session.id|e}}">Profil</a></li>
                            {% if session.etat == "Professeur" %}
                                <li><a href="../../../user/{{session.id|e}}/status/Etudiant">Devenir étudiant</a></li>
                            {% endif %}
                            {% if session.etat == "Etudiant" %}
                                <li><a href="../../../user/{{session.id|e}}/status/Professeur">Devenir professeur</a></li>
                            {% endif %}
                            <li><a href="../../../logout">Déconnexion</a></li>
                        </ul>
                        {% else %}
                        <a href="">Mon compte</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="../../../login">Connexion</a></li>
                            <li><a href="../../../signin">Inscription</a></li>
                        </ul>
                        {% endif %}
                    </li>
                    <li><a href="../../../../forum">Forum</a></li>
                    <li class="has-submenu">
                        <a>Matières</a>
                        <ul class="submenu menu vertical" data-submenu>
                            {% for mat in matiere %}
                            <li><a href="../../../matiere/{{mat.libelle_mat}}">{{mat.libelle_mat}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% if session.id is defined %}
                    <li class="has-submenu">
                        <a href="">Gestion</a>
                        <ul class="submenu menu vertical" data-submenu>
                            {% if session.etat == "Professeur" %}
                                <li><a href="../../../user/{{session.id|e}}/mescours">Mes cours</a></li>
                                <li><a href="../../../cours/create">Déposer un cours</a></li>
                                <li><a href="../../../cours/ajout">Ajouter un chapitre</a></li>
                                <li><a href="../../../matiere/create">Créer une matière</a></li>
                                <li><a href="../../../categorie/create">Créer une categorie</a></li>
                            {% endif %}
                            {% if session.etat == "Etudiant" %}
                                <li><a href="../../../user/{{session.id|e}}/notes">Mes notes</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if session.id is defined %}
                    <li class="has-submenu"><a href="">Favoris</a>
                        <ul class="submenu menu vertical" data-submenu>
                            {% for fav in favoris %}
                                {% for g in groupe_fav %}
                                    {% if g.id_gro == fav.id_gro %}
                                        <li class="menu-text">
                                            <a class="titre_fav" href="../../../cours/{{g.id_gro}}">{{g.titre_cou}}</a>
                                            <a class="img_fav" href="../../../favoris/delete/{{session.id}}/{{g.id_gro}}"><img src="./img/supprimer.png"/></a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                            <li><a>Aucun favoris</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <div class="row">
                        <div class="large-12 columns">
                            <form method="post" action="../../../cherche">
                                <div class="large-8 columns">
                                    <div class="row collapse postfix-radius">
                                        <div class="small-9 columns">
                                            <input type="search" placeholder="Rechercher" name="cherche">
                                        </div>
                                        <div class="small-3 columns">
                                            <input type="submit" class="postfix btn-search" value="Rechercher"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <br/>
        
        <div class="row">
            <div class="large-12 medium-12 columns">
                <div class="callout large">
                    <h3>MODIFICATION PROFIL</h3><hr>
                    <form method="post" class="large-push-2">
                        <div class="row">
                            <div class="large-8 columns">
                                <div class="row collapse prefix-radius">
                                    <div class="large-3 medium-3 small-12 columns">
                                        <span class="prefix">Nom</span>
                                    </div>
                                    <div class="large-9 columns">
                                        <input required type="text" name="nom" value="{{compte.nom_com|e}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-8 columns">
                                <div class="row collapse prefix-radius">
                                    <div class="large-3 medium-3 small-12 columns">
                                        <span class="prefix">Prénom</span>
                                    </div>
                                    <div class="large-9 columns">
                                        <input required type="text" name="pnom" value="{{compte.prenom_com|e}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-8 columns">
                                <div class="row collapse prefix-radius">
                                    <div class="large-3 medium-3 small-12 columns">
                                        <span class="prefix">Mail</span>
                                    </div>
                                    <div class="large-9 columns">
                                        <input required type="text" name="mail" value="{{compte.mail_com|e}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-8 columns">
                                <div class="row collapse prefix-radius">
                                    <div class="large-3 medium-3 small-12 columns">
                                        <span class="prefix">Adresse</span>
                                    </div>
                                    <div class="large-9 columns">
                                        <input required type="text" name="adr" value="{{compte.adresse_com|e}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-8 columns">
                                <div class="row collapse prefix-radius">
                                    <div class="large-3 medium-3 small-12 columns">
                                        <span class="prefix">Code postal</span>
                                    </div>
                                    <div class="large-9 columns">
                                        <input required type="text" name="cp" value="{{compte.cp_com|e}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-8 columns">
                                <div class="row collapse prefix-radius">
                                    <div class="large-3 medium-3 small-12 columns">
                                        <span class="prefix">Ville</span>
                                    </div>
                                    <div class="large-9 columns">
                                        <input required type="text" name="vil" value="{{compte.ville_com|e}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-8 columns">
                                <div class="row collapse prefix-radius">
                                    <div class="large-3 medium-3 small-12 columns">
                                        <span class="prefix">Date de naissance</span>
                                    </div>
                                    <div class="large-9 columns">
                                        <input required type="text" name="date" value="{{compte.dateNaiss_com}}" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-12 medium-12 small-12 text-center columns">
                                <button class="button large-3" name="modif">Modifier</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="../../../../public/js/vendor/jquery.min.js"></script>
        <script src="../../../../public/js/vendor/what-input.min.js"></script>
        <script src="../../../../public/js/foundation.min.js"></script>
        <script src="../../../../public/js/app.js"></script>
    </body>
</html>
