<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>
    </head>
    <body>
        {% include 'includes/header.twig' %}

        <div class="large-10 large-push-1 medium-12 columns">
            <div class="callout large">
                <h3>ADMINISTRATION</h3><hr>
                <ul class="accordion" class="accordion" data-accordion data-allow-all-closed="true">
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Gestion des membres</a>
                        <div class="accordion-content" data-tab-content>
                            <ul class="no-bullet">
                                <table>
                                    <li>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Email</th>
                                            <th>Adresse</th>
                                            <th>CP</th>
                                            <th>Ville</th>
                                            <th>Date Naissance</th>
                                            <th>Actif</th>
                                            <th>Action</th>
                                        </tr>
                                    </li>
                                    {% for m in members %}
                                    <li>
                                        <tr>
                                            <td align="center">{{m.id_com}}</td>
                                            <td align="center">{{m.nom_com}}</td>
                                            <td align="center">{{m.prenom_com}}</td>
                                            <td align="center">{{m.mail_com}}</td>
                                            <td align="center">{{m.adresse_com}}</td>
                                            <td align="center">{{m.cp_com}}</td>
                                            <td align="center">{{m.ville_com}}</td>
                                            <td align="center">{{m.dateNaiss_com|date('d/m/Y')}}</td>
                                            {% for e in etat %}
                                                {% if e.id_etc == m.id_etc %}
                                                    {% if e.actif_etc == 1 %}
                                                        <td style="color:green;">Oui</td>
                                                    {% else %}
                                                        <td style="color:red;">Non</td>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            <td align="center">
                                                <a href="adm/compte/{{m.id_com}}/edit"><img src="../public/img/edit.png" /></a>
                                                <a href="adm/compte/{{m.id_com}}/del"><img src="../public/img/supprimer.png" /></a>
                                            </td>
                                        </tr>
                                    </li>
                                    {% endfor %}
                                </table>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="accordion" class="accordion" data-accordion data-allow-all-closed="true">
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Gestion des cours</a>
                        <div class="accordion-content" data-tab-content>
                            <ul class="no-bullet">
                                <table>
                                    <li>
                                        <tr>
                                            <th>ID</th>
                                            <th>TITRE</th>
                                            <th>MATIERE</th>
                                            <th>CATEGORIE</th>
                                            <th>NOMBRE DE NIVEAU</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </li>
                                    {% for g in groupe %}
                                        <li>
                                                <tr>
                                                        <td align="center">{{g.id_gro}}</td>
                                                        <td align="center">{{g.titre_cou}}</td>
                                                        {% for ca in cat %}
                                                            {% if g.id_cat == ca.id_cat %}
                                                                {% for m in mat %}
                                                                    {% if ca.id_mat == m.id_mat %}
                                                                        <td align="center">{{m.libelle_mat}}</td>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                <td align="center">{{ca.libelle_cat}}</td>
                                                            {% endif %}
                                                        {% endfor %}
                                                        <td align="center">{{g.lvl}}</td>
                                                    <td align="center"><a href="adm/group/{{g.id_gro}}/del"><img src="../public/img/supprimer.png" /></a></td>
                                                </tr>
                                        </li>
                                    {% endfor %}
                                </table>
                            </ul>
                        </div>
                    </li>
                </ul>
                {% if is_admin == 2 %}
                    <ul class="accordion" class="accordion" data-accordion data-allow-all-closed="true">
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Gestion des admin</a>
                            <div class="accordion-content" data-tab-content>
                                <ul class="no-bullet">
                                    <li>
                                        <form method="post" action="adm/addAdm">
                                            <div class="row">
                                                <div class="large-12 columns">
                                                    <div class="row collapse prefix-radius">
                                                        <div class="large-3 medium-3 small-12 columns">
                                                            <span class="prefix">Ajouter admin :</span>
                                                        </div>
                                                        <div class="large-6 columns">
                                                            <input type="text" name="addAdm" placeholder="Insérer l'id du compte" />
                                                        </div>
                                                        <div class="large-3 columns text-center">
                                                            <input type="submit" name="add" class="button small" value="Ajouter" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </li>
                                    <li>
                                        <form method="post" action="adm/suppAdm">
                                            <div class="row">
                                                <div class="large-12 columns">
                                                    <div class="row collapse prefix-radius">
                                                        <div class="large-3 medium-3 small-12 columns">
                                                            <span class="prefix">Supprimer admin :</span>
                                                        </div>
                                                        <div class="large-6 columns">
                                                            <input type="text" name="suppAdm" placeholder="Insérer l'id du compte" />
                                                        </div>
                                                        <div class="large-3 columns text-center">
                                                            <input type="submit" name="supp" class="button small" value="Supprimer" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </li>
                                    <li>
                                        <table>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nom</th>
                                                <th>Prenom</th>
                                                <th>Email</th>
                                                <th>Date d'inscription</th>
                                            </tr>
                                            {% for a in list_admin %}
                                                {% for m in members %}
                                                    {% if a.id_com == m.id_com %}
                                                        <tr>
                                                            <td align="center">{{m.id_com}}</td>
                                                            <td align="center">{{m.nom_com}}</td>
                                                            <td align="center">{{m.prenom_com}}</td>
                                                            <td align="center">{{m.mail_com}}</td>
                                                            <td align="center">{{m.dateCreat_com|date('d-m-Y')}}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
        {% include 'includes/paramScript.html' %}
    </body>
</html>
