/**
 * Common tags
 */
html,
body {
	background: #f9f9f9;
	color: #525252;
}

body {
	margin: 0;
	padding: 15px 0;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1 {
	margin-top: 0;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
}

h2 {
	margin-top: 0;
	margin-bottom: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

h3 {
	margin-top: 24px;
	margin-bottom: 8px;
	padding-bottom: 5px;
	color: #3f3f3f;
	font-size: 14px;
}

p {
	margin-bottom: 18px;
	line-height: 18px;
	font-size: 12px;
}

hr {
	margin-top: 8px;
	margin-bottom: 8px;
}

a:link,
a:visited {
	color :#3f3f3f;
}

a:focus,
a:hover,
a:active {
	text-decoration: underline;
	color: #bc2a4d;
}

@media (max-width: 768px) {
	html,
	body {
		padding: 0;
		background: #fff;
	}
}

/**
 * Structure
 *
 * Main structure including wrapper, header, content and footer. Forum width
 * can be fixed (eg. width: 970px;) or fluid (default) to better support
 * various devices.
 */
.inventia-wrapper,
.inventia-dashboard,
.inventia-footer {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 95%;
	max-width: 1170px;
	margin: auto;
}

.inventia-wrapper {
	padding: 15px 20px;
	border: 2px solid #e7e7e7;
	background: #fff;
}

.inventia-statusbar {
	position: relative;
	height: 48px;
	border-bottom: 0;
	color: #959595;
}

.inventia-header {
	width: 100%;
	background: #292c2f;
}

.inventia-dashboard {
	position: relative;
	min-height: 230px;
	background: url("{T_THEME_PATH}/images/dashboard.jpg") center center no-repeat;
	background-size: cover;
}

.inventia-content {
	position: relative;
	border-top: 0;
}

.inventia-footer-wrapper {
	display: block;
	box-shadow: inset 0 20px 30px -20px #d5d5d5;
	width: 100%;
	margin-top: -25px;
	border-top: 1px solid #e2e2e2;
}

.inventia-footer {
	overflow: hidden;
	margin: 42px auto;
	padding: 0 22px;
	color: #959595;
	line-height: 18px;
	font-size: 12px;
}

@media (max-width: 768px) {
	.inventia-wrapper,
	.inventia-dashboard,
	.inventia-footer {
		width: 100%;
		border: 0;
	}
	
	.inventia-wrapper {
		padding: 15px 15px 6px;
	}

	.inventia-statusbar {
		height: 46px;
	}

	.inventia-dashboard {
		min-height: inherit;
	}
	
	.inventia-footer-wrapper {
		box-shadow: none;
		margin: 0;
		border: 0;
	}

	.inventia-footer {
		margin: 0;
		padding: 0 15px 15px;
	}
}

/**
 * Current time/last visit and quick search
 */
.inventia-quick-search {
	position: absolute;
	top: 10px;
	right: 20px;
}

.inventia-quick-search-icon {
	position: absolute;
	top: 6px;
	right: 10px;
	color: #c5c5c5;
	font-size: 13px;
}

.inventia-quick-search-input {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: inset 0 1px 3px #ccc;
	width: 100px;
	height: 26px;
	margin: 0;
	padding: 5px 28px 5px 10px;
	outline: 0;
	border: 0;
	border-radius: 30px;
	color: #959595;
	line-height: normal;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	transition: width 0.3s;
}

.inventia-quick-search-input:focus {
	width: 180px;
	cursor: text;
}

@media (max-width: 768px) {
	.inventia-time {
		display: none;
	}

	.inventia-quick-search {
		right: auto;
		left: 15px;
	}

	.inventia-quick-search-icon {
		right: auto;
		left: 10px;
	}

	.inventia-quick-search-input {
		width: 120px;
		padding: 5px 10px 5px 28px;
	}

	.inventia-quick-search-input:focus {
		width: 120px;
	}
}

/**
 * Forum name and description
 */
.inventia-sitename {
	padding: 70px 50px 92px;
	color: #fff;
	font-size: 14px;
}

.inventia-sitename a {
	color: #fff;
}

@media (max-width: 768px) {
	.inventia-sitename {
		padding: 40px 25px;
	}
}

/**
 * Primary navigation
 *
 * Main menu located in header. Consists of two navigation lines: forum related
 * links on top and user related links on bottom. Displayed only on devices
 * with larger screen resolutions (at least 768px width).
 */
.inventia-forum-menu,
.inventia-user-menu {
	position: absolute;
}

.inventia-forum-menu {
	right: 0;
}

.inventia-user-menu {
	bottom: 0;
}

.inventia-menu {
	display: block;
	list-style: none;
}

.inventia-menu-item {
	float: left;
}

/* Space between menu items */
.inventia-menu-item + .inventia-menu-item {
	margin-left: 4px;
}

.inventia-menu-item > a {
	display: block;
	padding: 8px 10px;
	background: rgba(0, 0, 0, 0.5);
	color: #eee;
}

.inventia-menu-item > a:focus,
.inventia-menu-item > a:hover,
.inventia-menu-item > a:active {
	background: rgba(0, 0, 0, 0.9);
	text-decoration: none;
}

/**
 * Secondary menu
 *
 * Dropdown menu activated after button click. Secondary mobile navigation
 * is displayed only on devices with small screen resolutions (768px width
 * or less).
 */
.inventia-toggle {
	padding: 4px 6px 2px;
	outline: 0;
	border: 0;
	border-bottom: 3px solid #ccc;
	border-radius: 5px;
	background: #e9e9e9;
	color: #414141;
}

/* Remove unnecessary padding in Firefox */
.inventia-toggle::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.inventia-toggle:hover,
.inventia-toggle:active {
	outline: 0;
	cursor: pointer;
}

.inventia-dropdown-menu {
	position: absolute;
	z-index: 1;
	display: none;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
	list-style: none;
	background: #292c2f;
}

/* Triangle above dropdown menu */
.inventia-dropdown-menu::before {
	content: "";
	position: absolute;
	right: 10px;
	display: block;
	width: 0;
	height: 0;
	margin-top: -12px;
	border-style: solid;
	border-width: 0 14px 12px 14px;
	border-color: transparent transparent #292c2f transparent;
}

.inventia-dropdown-menu-item {
	min-width: 190px;
}

/* Remove bottom border from last menu item */
.inventia-dropdown-menu-item:last-child a {
	border: 0;
}

.inventia-dropdown-menu-item a {
	display: block;
	padding: 12px 15px 12px 14px;
	border-bottom: 1px solid #46474a;
	color: #eee;
}

.inventia-dropdown-menu-item a:focus,
.inventia-dropdown-menu-item a:hover {
	background: #343639;
	text-decoration: none;
}

.inventia-dropdown-menu-item .fa {
	margin-right: 5px;
	font-size: 14px;
}

/* Forum and topic actions dropdown menu */
.inventia-actions-menu {
	float: right;
}

.inventia-actions-menu-toggle {
	font-size: 14px;
}

.inventia-actions-dropdown-menu  {
	top: 57px;
	right: 8px;
}

/* Don't display mobile menu on large screens */
.inventia-mobile-menu {
	display: none;
}

@media (max-width: 768px) {
	.inventia-forum-menu,
	.inventia-user-menu {
		display: none;
	}
	
	.inventia-mobile-menu {
		display: block;
	}
	
	.inventia-mobile-menu-toggle {
		position: absolute;
		top: 8px;
		right: 15px;
		font-size: 21px;
	}

	/* Remove padding from Font Awesome icon */
	.inventia-mobile-menu-toggle > .fa {
		display: block;
		padding: 0;
	}

	.inventia-mobile-dropdown-menu {
		z-index: 3;
		top: 55px;
		right: 6px;
	}
	
	/* Forum and topic actions dropdown menu */
	.inventia-actions-dropdown-menu {
		right: 3px;
	}
}

/**
 * Breadcrumbs
 */
.inventia-breadcrumbs-container {
	overflow: hidden;
}

.inventia-breadcrumbs {
	display: block;
	overflow: hidden;
	float: left;
	margin-top: 3px;
	margin-bottom: 24px;
	list-style: none;
	line-height: 18px;
}

.inventia-breadcrumbs-item {
	display: block;
	float: left;
}

.inventia-breadcrumbs-item::before {
	content: "/";
	display: block;
	float: right;
	margin: 0 10px;
	color: #cacaca;
	font-size: 14px;
}

/* Don't display first separator */
.inventia-breadcrumbs-item:last-child::before {
	display: none;
}

/**
 * Footer
 */
.inventia-footer a {
	color: #525252;
}

.inventia-footer a:focus,
.inventia-footer a:hover,
.inventia-footer a:active {
	color: #bc2a4d;
}

.inventia-footer-menu {
	float: right;
	list-style: none;
}

.inventia-footer-menu-item {
	display: block;
	float: left;
}

.inventia-footer-menu-item::before {
	content: "/";
	display: block;
	float: right;
	margin: 0 10px;
	color: #cacaca;
	font-size: 14px;
}

/* Don't display first separator */
.inventia-footer-menu-item:last-child::before {
	display: none;
}

.inventia-credits {
	float: left;
}

@media (max-width: 768px) {
	.inventia-footer-menu,
	.inventia-credits {
		overflow: hidden;
		display: block;
		float: none;
	}

	.inventia-footer-menu {
		margin-bottom: 18px;
	}
}

/**
 * Forums and tables
 *
 * Overwrite default categories/forums layout and common tables settings.
 * Define zebra background colours for even/odd rows and cells.
 */
.forabg,
.forumbg,
#cp-main table.table1 {
	margin-bottom: 15px;
	padding: 0;
	border-bottom: 3px solid #cacaca;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #4c4c4c;
}

/* Space between last category and quick login/statistics */
.forabg:last-of-type {
	margin-bottom: 30px;
}

ul.forums,
ul.topics,
table.table1 tbody {
	background: #fafcfe;
}

/* Row (single forum) */
ul.topiclist li {
	color: #525252;
}

table.table1 tbody tr {
	border: 0;
}

li.row,
#cp-main .panel li.row,
table.table1 tbody tr {
	border-top: 1px solid #fff;
	border-bottom: 0;
}

ul.topics .bg1,
ul.topics .bg2,
li.row:hover,
table.table1 tr.bg1,
table.table1 tr.bg2,
table.table1 tbody tr:hover {
	background: none;
}

/* Different background for even rows */
li.row:nth-child(even),
table.table1 tbody tr:nth-child(even) {
	background: #f2f2f2;
}

.forumbg ul.topiclist li.reported dd:nth-child(even),
li.reported,
li.reported:hover {
	background: #f7ecef !important;
}

li.row strong {
	color: inherit;
	font-weight: bold;
}

ul.topiclist li.header dl,
ul.topiclist li.row dl {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 0;
}

/* Cell  */
ul.topiclist dt,
ul.topiclist dd,
table.table1 tbody td {
	padding: 7px;
	border: 0;
	vertical-align: middle;
	line-height: 18px;
	font-size: 12px;
}

ul.topiclist dt,
ul.topiclist dd {
	display: table-cell;
	float: none;
}

/* Different background in odd columns */
ul.topiclist li.row dt:nth-child(even),
ul.topiclist li.row dd:nth-child(even),
.forabg ul.topiclist li.row dt:nth-child(odd),
.forabg ul.topiclist li.row dd:nth-child(odd),
.forumbg ul.topiclist li.row dt:nth-child(odd),
.forumbg ul.topiclist li.row dd:nth-child(odd),
table.table1 tbody td:nth-child(even) {
	background-color: #f1f1f1;
}

.forabg ul.topiclist li.row dt:nth-child(even),
.forabg ul.topiclist li.row dd:nth-child(even),
.forumbg ul.topiclist li.row dt:nth-child(even),
.forumbg ul.topiclist li.row dd:nth-child(even) {
	background-color: #fafcfe;
}

ul.topiclist li.row:nth-child(even) dt:nth-child(even),
ul.topiclist li.row:nth-child(even) dd:nth-child(even),
.forabg ul.topiclist li.row:nth-child(even) dt:nth-child(odd),
.forabg ul.topiclist li.row:nth-child(even) dd:nth-child(odd),
.forumbg ul.topiclist li.row:nth-child(even) dt:nth-child(odd),
.forumbg ul.topiclist li.row:nth-child(even) dd:nth-child(odd),
table.table1 tbody tr:nth-child(even) td:nth-child(even) {
	background-color: #e9e9e9;
}

.forabg ul.topiclist li.row:nth-child(even) dt:nth-child(even),
.forabg ul.topiclist li.row:nth-child(even) dd:nth-child(even),
.forumbg ul.topiclist li.row:nth-child(even) dt:nth-child(even),
.forumbg ul.topiclist li.row:nth-child(even) dd:nth-child(even) {
	background-color: #f2f2f2;
}

.forumbg ul.topiclist li.reported dt:nth-child(odd),
.forumbg ul.topiclist li.reported dd:nth-child(odd),
ul.topiclist li.reported dt:nth-child(even),
ul.topiclist li.reported dd:nth-child(even) {
	background-color: #f4e1e6 !important;
}

dd.lastpost span,
ul.topiclist dd.searchby span,
ul.topiclist dd.info span,
ul.topiclist dd.time span,
dd.redirect span,
dd.moderation span {
	padding: 0;
}

/* Category header */
ul.topiclist li.header dt,
ul.topiclist li.header dd,
table.table1 thead th,
#cp-main table.table1 thead th {
	padding: 9px 7px;
	text-align: center;
	line-height: 18px;
	font-weight: normal;
}

.forabg ul.topiclist li.header dt,
.forumbg ul.topiclist li.header dt {
	width: auto;
}

/* Subforums list on index */
ul.topiclist li.row a.subforum {
	padding: 0;
	background: none;
	white-space: nowrap;
}

ul.topiclist li.row a.subforum::before {
	content: "\f07b";
	display: inline-block;
	margin-right: 4px;
	padding-left: 1px;
	color: #6b6b6b;
	font-family: FontAwesome;
}

ul.topiclist li.row a.subforum.unread::before {
	color: #bc2a4d;
}

/* Specific colums settings */
ul.topiclist.forums li.row dt,
ul.topiclist.topics li.row dt {
	width: 55px;
	padding: 0;
	background-position: center center;
	text-align: center;
}

/* Topic icon */
.forumbg ul.topiclist li.row dt img {
	margin-top: 20px;
	margin-right: -20px; 
}

dd.topics,
dd.posts {
	width: 120px;
}

dd.lastpost {
	width: 220px;
}

/* Last post author and date icons */
dd.lastpost .fa {
	color: #6b6b6b;
}

dd.redirect {
	width: 354px;
	text-align: center;
}

@media (max-width: 768px) {
	ul.topiclist dd.topics,
	ul.topiclist dd.posts,
	ul.topiclist dd.lastpost,
	ul.topiclist dd.redirect {
		display: none;
	}
}

/**
 * Tables
 *
 * Overwrite specific tables settings.
 */
.forumbg-table > .inner {
	margin: 0;
}

table.table1 {
	border-collapse: collapse;
}

table.table1 td {
	color: #525252;
}

/* Recent searches tables */
.section-search .forumbg-table {
	margin-top: 15px;
}

.section-search .forumbg-table thead th,
.section-search .forumbg-table .active {
	text-align: center;
}

#cp-main table.table1 thead th {
	border-bottom: 0;
	color: #fff;
	text-align: left;
}

/**
 * Panels
 */
.panel {
	overflow: hidden;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 7px;
	background-color: #f1f1f1;
	color: #525252;
}

.bg1,
.bg3 {
	background-color: #ececec;
}

.bg2 {
	background-color: #f4f4f4;
}

.content {
	color: #525252;
}

/* Base font in panels */
fieldset,
dl.faq,
.content dl.faq,
.content p,
.panel p {
	line-height: 18px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* Headers in panels */
.panel h2,
.panel h3,
.content h2 {
	margin-bottom: 10px;
	padding-bottom: 8px;
	color: #3f3f3f;
	text-transform: none;
	font-size: 16px;
	font-weight: normal;
}

h2.solo {
	margin-bottom: 10px;
}

/**
 * FAQ
 */
dl.faq {
	margin-top: 7px;
	margin-bottom: 16px;
}

dl.faq:last-child {
	margin-bottom: 7px;
}

dl.faq dt {
	color: #3f3f3f;
}

@media (max-width: 768px) {
	.column1,
	.column2 {
		overflow: hidden;
		float: none;
		width: 100%;
	}
}

/**
 * Posts and private messages
 */
.post {
	position: relative;
	margin-bottom: 5px;
	padding: 0;
}

.post .inner {
	display: table;
	width: 100%;
}

.post.bg1,
.post.bg2,
.online {
	background: none;
}

.post.bg1 .postprofile {
	background-color: #f2f2f2;
}

.post.bg1 .postbody {
	background-color: #f8f8f8;
}

.post.bg2 .postprofile {
	background-color: #ececec;
}

.post.bg2 .postbody {
	background-color: #f1f1f1;
}

.post.reported .postprofile {
	background-color: #f4e1e6;
}

.post.reported .postbody {
	background-color: #f7ecef;
}

.inventia-online {
	display: inline-block;
	margin-bottom: 18px;
	padding: 3px 8px 1px;
	border-bottom: 3px solid #0c9076;
	border-radius: 5px;
	background: #0ead8e;
	color: #fff;
	text-transform: uppercase;
}

.postprofile,
.post .postbody {
	display: table-cell;
	float: none;
	clear: none;
	padding: 18px;
}

/* Bottom padding is a place for back to top button */
.post .postbody {
	padding-bottom: 36px;
}

/* User profile */
.postprofile,
.pm .postprofile,
.search .postprofile {
	min-height: initial;
	width: 23%;
	margin: 0;
	border: 0;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	color: #525252;
	vertical-align: top;
}

.postprofile dt,
.postprofile dd {
	margin: 0;
	line-height: 18px;
}

.postprofile dt {
	text-align: center;
}

.postprofile strong {
	color: #414141;
}

.inventia-avatar {
	display: block;
	margin-bottom: 14px;
}

ul.profile-icons {
	padding-top: 10px;
}

/* Post message */
.post .postbody,
.search .postbody {
	width: auto;
}

.post .postbody {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.post.bg1 .postbody::before {
	border-color: transparent #f8f8f8 transparent transparent;
}

.post.bg2 .postbody::before {
	border-color: transparent #f2f2f2 transparent transparent;
}

.post.reported .postbody::before {
	border-color: transparent #f7ecef transparent transparent;
}

/* Post message left triangle */
.post .postbody::before {
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	margin-top: 7px;
	margin-left: -34px;
	border-style: solid;
	border-width: 14px 16px 14px 0;
}

.postbody h3,
.postbody h3.first {
	margin: 0 !important;
	padding: 0;
	line-height: 21px;
	font-size: 16px;
	font-weight: bold;
}

.postbody h3 img {
	vertical-align: middle;
}

p.author {
	margin: 1px 0 10px;
	padding: 0 0 10px;
	border-bottom: 1px dotted #c2c2c2;
	color: #525252;
	line-height: 18px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.postbody .content,
.post:target .content {
	overflow: auto;
	color: #414141;
	line-height: 21px;
	font-size: 14px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.section-viewtopic .postbody .content {
	max-width: 832px;
}

.post .signature {
	clear: none;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dotted #c2c2c2;
	color: #525252;
	line-height: 18px;
	font-size: 12px;
}

.postbody .content img,
.signature img {
	max-width: 100%;
}

/* Private message */
#cp-main .post {
	border-radius: 7px;
}

#cp-main .post .postbody::before {
	display: none;
}

#cp-main .postbody p {
	font-size: 12px;
}

/* Post message preview (posting.php) */
#postform .content {
	padding: 10px 18px;
	border-radius: 7px;
}

/* Poll preview background */
.section-posting #preview .content {
	background: #f1f1f1;
}

#postform .content .author {
	margin-bottom: 12px;
	padding: 0;
	border-bottom: 0;
}

#postform .postbody,
#topicreview .postbody {
	padding-bottom: 18px;
	border-radius: 7px;
}

#postform .postbody::before {
	display: none;
}

#postform .postbody h3 {
	margin-bottom: 9px !important;
	padding-bottom: 9px;
	border-bottom: 1px dotted #c2c2c2;
}

#postform .postbody .content {
	padding: 0;
	border-radius: 0;
}

/* Topic review */
#topicreview .postbody h3 {
	margin: 0 !important;
	padding: 0;
	border: 0;
}

#topicreview .content {
	background: inherit;
}

#topicreview .postbody .right-box {
	margin-right: 5px;
	line-height: 28px;
}

/* Post related links */
.postprofile a:link,
.postprofile a:visited,
.search .postprofile a {
	color: #3f3f3f;
}

.postprofile a:focus,
.postprofile a:hover,
.postprofile a:active,
.search .postprofile a:focus,
.search .postprofile a:hover,
.search .postprofile a:active {
	color: #bc2a4d;
	text-decoration: underline;
}

.back2top {
	position: absolute;
	right: 18px;
	bottom: 16px;
	height: auto;
}

/* Polls */
fieldset.polls {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

fieldset.polls dl {
	margin: 0;
	padding: 0;
	border-color: #dadada;
	color: #525252;
}

fieldset.polls dt,
fieldset.polls dd {
	line-height: 32px;
	font-size: 12px;
}

fieldset.polls dd.resultbar {
	margin-top: 7px;
	margin-right: 5px;
	line-height: normal;
}

/* Poll bar */
fieldset.polls dd div {
	min-width: 8px;
	padding: 1px 3px;
}

/* Post related features */
.attachbox {
	clear: right;
	max-width: 832px;
	padding: 7px;
	border: 1px solid #ccc;
}

.inline-attachment {
	margin: 15px 0;
}

.attachbox dt,
dl.file {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.attachbox dt {
	padding-bottom: 3px;
	line-height: 14px;
	font-weight: bold;
}

.attachbox dd {
	padding-top: 6px;
	border-color: #ccc;
}

dl.file {
	line-height: 18px;
}

dl.file dd {
	color: #525252;
	font-size: 12px;
}

dl.file .attach-image + dd {
	margin-top: 4px;
}

.attach-image img {
	max-width: 100%;
	border: 0;
}

dl.thumbnail img {
	padding: 0;
	border: 0;
}

dl.thumbnail dt a:hover,
dl.thumbnail dt a:hover img {
	border: 0;
	background: inherit;
}

dl.codebox {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 3px 5px;
	border-color: #ccc;
}

dl.codebox dt {
	padding-bottom: 3px;
	font-size: 12px;
}

dl.codebox code {
	font-size: 12px;
	line-height: 16px;
	font-family: Consolas, Monaco, "Lucida Console", monospace;
}

blockquote,
blockquote.uncited {
	padding: 7px;
}

blockquote {
	margin-top: 15px;
	margin-bottom: 15px;
	border-color: #ddd;
	background: #fbfbfb;
	font-size: 14px;
}

blockquote blockquote {
	background: #f1f1f1;
}

blockquote blockquote blockquote {
	border-color: #d5d5d5;
	background: #e9e9e9;
}

/* Quote icon before "XYZ wrote:" */
blockquote::before {
	content: "\f10d";
	display: block;
	font-family: FontAwesome;
	font-size: 14px;
}

blockquote cite {
	margin-top: -22px;
	font-size: 14px;
}

a.postlink {
	border-bottom: 1px dotted #6b6b6b;
	color: #6b6b6b;
}

a.postlink:visited {
	color: #959595;
}

a.postlink:active,
a.postlink:focus,
a.postlink:hover {
	border-color: #bc2a4d;
	background: none;
	color: #bc2a4d;
}

.signature a,
.signature a:active,
.signature a:focus,
.signature a:hover {
	text-decoration: none;
}

.signature a:active,
.signature a:focus,
.signature a:hover {
	border-bottom: 1px dotted #bc2a4d;
}

/* Profile and post buttons */
.postprofile ul.profile-icons li,
.postprofile ul.profile-icons li a,
.postbody ul.profile-icons li,
.postbody ul.profile-icons li a {
	width: auto;
	height: auto;
	margin: 0;
	background: none;
	font-weight: normal;
}

.postprofile ul.profile-icons li {
	margin-top: 8px;
	margin-right: 5px;
}

.postbody ul.profile-icons li {
	margin-left: 5px;
}

.postprofile ul.profile-icons li a,
.postbody ul.profile-icons li a {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 28px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-bottom: 3px solid #c5c5c5;
	border-radius: 5px;
	background: #dfdfdf;
	color: #6b6b6b;
	text-transform: uppercase;
	text-align: center;
	line-height: 17px;
	font-size: 12px;
}

/* More dark profile icons */
.postprofile ul.profile-icons li a {
	border-color: #c5c5c5;
	background: #dfdfdf;
}

.postprofile ul.profile-icons li a:focus,
.postprofile ul.profile-icons li a:hover,
.postprofile ul.profile-icons li a:active,
.postbody ul.profile-icons li a:focus,
.postbody ul.profile-icons li a:hover,
.postbody ul.profile-icons li a:active {
	border-color: #91203c;
	background: #bc2a4d;
	color: #fff;
	text-decoration: none;
}

.postprofile ul.profile-icons li a::before,
.postbody ul.profile-icons li a::before {
	display: block;
	font-family: FontAwesome;
	font-size: 14px;
}

.pm-icon a::before 		{ content: "\f075"; }
.email-icon a::before 	{ content: "\f0e0"; }
.web-icon a::before 	{ content: "\f0ac"; }
.msnm-icon a::before 	{ content: "\f17a"; }
.icq-icon a::before 	{ content: "\f069"; }
.yahoo-icon a::before 	{ content: "\f19e"; }
.aim-icon a::before 	{ content: "\f183"; }
.jabber-icon a::before 	{ content: "\f0eb"; }
.edit-icon a::before 	{ content: "\f040"; }
.delete-icon a::before 	{ content: "\f00d"; }
.report-icon a::before 	{ content: "\f071"; }
.warn-icon a::before 	{ content: "\f056"; }
.info-icon a::before 	{ content: "\f129"; }
.quote-icon a::before 	{ content: "\f10d"; }

/* Who is online */
.inventia-quickmod + h3 {
	clear: both;
}

@media (max-width: 768px) {
	.post .inner {
		display: block;
	}

	.postprofile,
	.search .postprofile,
	.pm .postprofile,
	.post .postbody {
		display: block;
		overflow: hidden;
		width: auto;
	}

	/* User profile */
	.postprofile,
	.pm .postprofile,
	.search .postprofile {
		border-top-right-radius: 7px;
		border-bottom-left-radius: 0;
	}

	.postprofile dt {
		display: table;
		text-align: left;
	}

	.section-viewtopic .postprofile dd,
	.section-ucp .postprofile dd {
		display: none;
	}

	.inventia-online {
		display: none;
	}

	.inventia-avatar {
		margin-right: 18px;
		margin-bottom: 0;
		line-height: 0;
	}

	.inventia-avatar img {
		width: auto;
		height: 70px;
	}

	.inventia-post-author {
		display: table-cell;
		vertical-align: middle;
	}

	/* Post message */
	.post .postbody {
		border-top-right-radius: 0;
		border-bottom-left-radius: 7px;
	}
	
	.post.bg1 .postbody::before {
		border-color: transparent transparent #f8f8f8 transparent;
	}

	.post.bg2 .postbody::before {
		border-color: transparent transparent #f2f2f2 transparent;
	}

	.post.reported .postbody::before {
		border-color: transparent transparent #f7ecef transparent;
	}

	/* Post message left triangle */
	.post .postbody::before {
		right: 25px;
		margin-top: -34px;
		margin-left: 0;
		border-width: 0 14px 16px 14px;
	}
}

/**
 * User Control Panel and Moderator Control Panel
 */
#tabs + .panel,
#attach-panel,
#poll-panel,
.section-ucp #postform > .panel.bg3 {
	border-top-left-radius: 0;
}

#tabs {
	margin-left: 0;
}

#tabs li {
	font-size: 12px;
}

/* Regular tab */
#tabs a,
#tabs a span {
	padding: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #dfdfdf;
	color: #6b6b6b;
}

#tabs a span,
#tabs .activetab a span {
	padding: 11px;
}

#tabs a:focus span,
#tabs a:hover span,
#tabs a:active span {
	background: #e9e9e9;
	color: #bc2a4d;
}

/* Active tab */
#tabs .activetab a,
#tabs .activetab a span {
	background: #ececec;
	color: #414141;
}

#tabs .activetab a {
	border-bottom: 1px solid #ececec;
}

#tabs .activetab a span {
	padding-bottom: 12px;
}

#tabs .activetab a:focus span,
#tabs .activetab a:hover span,
#tabs .activetab a:active span {
	background: #ececec;
	color: #bc2a4d;
}

/* Subsection navigation */
#navigation {
	padding-top: 38px;
}

#navigation a {
	padding: 8px 6px;
	background: #ccc;
	color: #525252;
}

#navigation a:focus,
#navigation a:hover,
#navigation a:active {
	background: #b5b5b5;
	color: #bc2a4d;
}

#navigation #active-subsection a,
#navigation #active-subsection a:hover {
	color: #bc2a4d;
}

/* MCP mini tabs */
#minitabs li {
	padding: 0;
}

#minitabs li a {
	display: block;
	padding: 8px;
	background: #ccc;
	color: #525252;
}

#minitabs li a:focus,
#minitabs li a:hover {
	background: #b5b5b5;
	color: #bc2a4d;
}

#minitabs .activetab a,
#minitabs .activetab a:focus,
#minitabs .activetab a:hover {
	background: #f9f9f9;
	color: #bc2a4d !important;
}

/* Friends list */
.cp-mini {
	margin: 10px 10px 0 0;
	padding: 8px;
	border-radius: 7px;
	background: #f8f8f8;
	line-height: 18px;
}

dl.mini dt {
	color: #3f3f3f;
}

.pm-legend:first-of-type {
	margin-top: 8px;
}

.pm-legend {
	margin-bottom: 5px;
	padding-top: 0 !important;
	padding-left: 5px;
	line-height: 22px;
}

/* Remove rounded corners images */
#cp-main span.corners-top,
#cp-menu span.corners-top,
#cp-main span.corners-top span,
#cp-menu span.corners-top span,
#cp-main span.corners-bottom,
#cp-menu span.corners-bottom,
#cp-main span.corners-bottom span,
#cp-menu span.corners-bottom span {
	background: none;
}

/* Inside panels */
#cp-main h3,
#cp-main hr,
#cp-menu hr {
	border-color: #ccc;
}

#cp-main .panel {
	clear: both;
	padding-top: 8px;
}

#cp-main .panel p {
	font-size: 12px;
}

#cp-main .panel + fieldset.submit-buttons {
	margin-top: 10px;
}

#cp-main fieldset.display-actions {
	margin-top: 10px;
	padding-right: 0;
}

#cp-main fieldset.display-actions div {
	margin-top: 4px;
}

#cp-main fieldset.display-actions .left-box {
	margin-top: 0;
}

#cp-main fieldset.forum-selection {
	margin-top: 0;
	margin-bottom: 8px;
}

dl.details {
	line-height: 18px;
	font-size: 12px;
}

dl.details dt {
	color: #414141;
}

dl.details dd {
	margin-bottom: 4px;
	color: #525252;
}

ul.cplist {
	margin-bottom: 15px;
	border-top: 0;
	border-bottom: 3px solid #cacaca;
}

/* Forum/topic lists */
#cp-main .panel li.header dd,
#cp-main .panel li.header dt,
#cp-main .panel li.header a {
	color: #fff;
}

.section-ucp ul.topiclist li.header,
.section-mcp ul.topiclist li.header {
	display: block;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #4c4c4c;
}

.section-ucp ul.topiclist dl.icon,
.section-mcp ul.topiclist dl.icon {
	background-position: 14px 50%;
}

.section-ucp ul.topiclist dl.icon dt,
.section-mcp ul.topiclist dl.icon dt {
	width: 100%;
	padding-left: 55px;
}

.section-ucp ul.topiclist li.row dt {
	background: transparent !important;
}

.section-ucp ul.topiclist .bg1,
.section-mcp ul.topiclist .bg1 {
	background-color: #f2f2f2;
}

.section-ucp ul.topiclist .bg2,
.section-mcp ul.topiclist .bg2 {
	background-color: #fafcfe;
}

.section-ucp ul.topiclist + h3 {
	margin-top: 30px;
}

dd.mark {
	width: 60px;
	float: none !important;
}

/* Private messages list */
#cp-main .buttons {
	margin-bottom: 8px;
}

#cp-main ul.linklist .pagination {
	margin-top: 5px;
	margin-bottom: 5px;
}

#viewfolder ul.topiclist,
#cp-main ul.linklist + p {
	clear: both;
}

#viewfolder ul.topiclist li.header dt {
	width: 100%;
	padding-left: 55px;
}

/**
 * Search results
 */
.section-search .topic-actions {
	margin-bottom: 12px;
}

.section-search .search-box {
	margin-left: 0;
}

/* Search these results input */
.section-search #add_keywords {
	width: auto;
}

.section-search .postprofile {
	color: #414141;
}

.section-search .postprofile strong {
	color: #525252;
}

/* Search found matches */
.section-search hr + .linklist {
	margin-top: 14px;
	padding-top: 2px;
}

/**
 * Memberlist
 */
#search_memberlist {
	margin-bottom: 28px;
}

#search_memberlist .panel {
	padding-top: 8px;
}

/* Fix margins in member filtering panel */
.panel ul.linklist li {
	margin-bottom: 0;
	padding: 5px 0;
}

.section-memberlist .panel + .forumbg,
#simple-wrap .panel + .forumbg {
	margin-top: 7px;
}

.section-memberlist .panel ul.linklist li strong,
#simple-wrap .panel ul.linklist li strong {
	font-size: 12px !important;
}

/* Viewprofile */
#viewprofile .postbody {
	width: auto;
}

#viewprofile .inventia-profile {
	padding-top: 12px;
	padding-bottom: 12px;
	line-height: 18px;
}

#viewprofile .signature {
	margin-bottom: 10px;
	color: #414141;
	line-height: 18px;
	font-size: 12px;
}

@media (max-width: 768px) {
	#viewprofile .inventia-avatar {
		margin-right: 0;
		margin-bottom: 14px;
	}

	#viewprofile .column2 h3 {
		margin-top: 18px;
	}
}

/**
 * Buttons
 *
 * Overwrite old graphic buttons with new CSS one using Font Awesome icons.
 */
.topic-actions {
	overflow: hidden;
	margin-bottom: 1px;
	line-height: 18px;
	font-size: 12px;
}

hr + .topic-actions {
	margin-top: 8px;
}

.buttons div {
	width: auto !important;
	height: auto !important;
}

.buttons div a {
	display: block;
	width: auto;
	padding: 8px 10px 6px;
	border-bottom: 3px solid #ccc;
	border-radius: 5px;
	background: #e9e9e9;
	color: #6b6b6b;
	text-transform: uppercase;
	line-height: 17px;
	font-size: 12px;
}

.buttons div a:focus,
.buttons div a:hover,
.buttons div a:active {
	border-color: #91203c;
	background: #bc2a4d;
	color: #fff;
	text-decoration: none;
}

.buttons div span {
	position: static;
	float: left;
	width: auto;
	height: auto;
	background: none;
}

.buttons div span::before {
	display: block;
	margin-right: 7px;
	font-family: FontAwesome;
	font-size: 14px;
}

.forwardpm-icon span::before 	{ content: "\f064"; }
.locked-icon span::before 		{ content: "\f023"; }
.pmreply-icon span::before 		{ content: "\f112"; }
.reply-icon span::before 		{ content: "\f112"; }
.newpm-icon span::before 		{ content: "\f055"; }
.post-icon span::before 		{ content: "\f055"; }

/**
 * Forms
 */
fieldset {
	margin-bottom: 10px;
}

fieldset dd {
	margin-bottom: 0;
	margin-left: 42%;
	vertical-align: middle;
}

fieldset.fields1 dt,
fieldset.fields2 dt {
	width: 30%;
}

fieldset.fields1 dd,
fieldset.fields2 dd {
	margin-left: 32%;
}

fieldset.display-options {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Labels */
label {
	padding-right: 10px;
}

label,
dd label {
	display: inline-block;
	color: #525252;
	vertical-align: middle;
}

dt label,
dd label {
	line-height: 28px;
}

/* Inputs */
input,
select,
textarea,
#message-box textarea {
	background: #fff;
	line-height: 18px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#message-box textarea {
	color: #414141;
	line-height: 21px;
	font-size: 14px;
}

select,
.inputbox {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: inset 0 7px 5px -6px #e1e1e1;
	height: 28px;
	padding: 4px 6px;
	color: #525252;
}

select,
select:hover,
.inputbox,
.inputbox:hover {
	border-color: #ccc;
}

select:focus,
.inputbox:focus {
	box-shadow: 0 0 5px #c2c2c2;
	outline: 0;
	border-color: #b1b1b1;
	color: #525252;
}

input.inputbox[type="file"] {
	box-shadow: none;
	height: auto;
	padding: 0;
	border: 0;
	background: transparent;
	cursor: pointer;
}

textarea.inputbox,
select[multiple="multiple"] {
	height: auto;
}

/* Input width */
input.inputbox {
	width: 80%;
}

input.medium {
	width: 50%;
}

input.tiny {
	width: 150px;
}

textarea.inputbox {
	width: 80%;
}

dd select {
	width: auto !important;
}

#register .inputbox,
#login .inputbox {
	width: 40% !important;
}

/* Buttons */
a.button1,
a.button2,
input.button1,
input.button2,
input.button3 {
	height: 28px;
	padding: 0 6px;
	border-color: #c5c5c5;
	border-bottom-width: 2px;
	background: #dfdfdf;
	color: #525252;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

a.button2:link {
	padding: 5px 6px 6px;
}

a.button1:focus,
a.button1:hover,
a.button1:active,
a.button2:focus,
a.button2:hover,
a.button2:active,
input.button1:focus,
input.button1:hover,
input.button1:active,
input.button2:focus,
input.button2:hover,
input.button2:active,
input.button3:focus,
input.button3:hover,
input.button3:active {
	outline: 0;
	border-color: #bc2a4d;
	border-bottom: 2px solid #91203c;
	background: #bc2a4d;
	color: #fff;
}

/* Remove unnecessary padding from buttons in Firefox */
a.button1::-moz-focus-inner,
input.button1::-moz-focus-inner,
input.button3::-moz-focus-inner,
a.button2::-moz-focus-inner,
input.button2::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* Quick login on index */
fieldset.quick-login label {
	line-height: 28px;
}

/* Quick search in viewforum and viewtopic */
input.search {
	padding: 4px 6px;
	background: none;
}

.section-search #keywords {
	margin-bottom: 5px;
}

/* Margin for forgotten password link */
#login #password {
	margin-bottom: 10px;
}

/* Posting editor page */
.section-posting fieldset.fields1 dt,
.section-posting fieldset.fields2 dt,
.section-ucp fieldset.fields1 dt,
.section-ucp fieldset.fields2 dt,
#login fieldset.fields1 dt {
	width: 20%;
}

.section-posting fieldset.fields1 dd,
.section-posting  fieldset.fields2 dd,
.section-ucp fieldset.fields1 dd,
.section-ucp fieldset.fields2 dd,
#login fieldset.fields1 dd {
	margin-left: 22%;
}

.section-posting #subject,
.section-ucp #subject {
	width: 50% !important;
}

#format-buttons {
	margin-bottom: 6px;
}

#smiley-box {
	width: 19%;
}

#options-panel,
#attach-panel,
#poll-panel {
	padding-top: 12px;
}

.pmlist #username_list {
	height: 78px;
}

@media (max-width: 768px) {
	fieldset dt,
	fieldset.fields2 dt,
	.section-posting fieldset.fields1 dt,
	.section-posting fieldset.fields2 dt {
		float: none;
		width: auto;
	}

	/* Additional margin between description and input */
	fieldset dt span {
		display: block;
		margin-bottom: 10px;
	}
	
	/* Reduce input left margin */
	fieldset dd,
	fieldset.fields1 dd,
	fieldset.fields2 dd,
	.section-posting fieldset.fields1 dd,
	.section-posting  fieldset.fields2 dd {
		margin-left: 0;
	}

	input.inputbox,
	textarea.inputbox {
		width: 100%;
	}

	input.medium {
		width: 50%;
	}
	
	input.tiny {
		width: 125px;
	}

	/* Registration and login form */
	#register .inputbox,
	#login .inputbox {
		width: 100% !important;
	}

	/* Quick login on index */
	fieldset.quick-login input.inputbox {
		width: 100%;
		margin-bottom: 8px;
	}
}

/**
 * Alerts
 */
div.rules,
p.rules {
	border: 1px solid #ebccd1;
	background-color: #f2dede;
	padding: 6px 9px;
}

div.rules {
	margin-top: 10px;
	margin-bottom: 15px;
	line-height: 18px;
	font-size: 12px;
}

p.rules img {
	padding-top: 0;
}

/* Disabled board information */
#information {
	margin-top: 0;
	margin-bottom: 24px;
}

.notice {
	margin-bottom: 15px;
	padding: 7px;
	border: 1px solid #ddd;
	background: #fbfbfb;
	line-height: 18px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/**
 * Pagination
 */
.pagination {
	margin-top: 8px;
}

.pagination span strong,
.pagination span a,
.pagination span a:link,
.pagination span a:visited,
.pagination span a:active {
	padding: 2px 4px;
	font-size: 12px;
}

.row .pagination {
	padding: 0;
	background: none;
	font-size: 12px;
}

/* Current page */
.pagination span strong {
	border-color: #cacaca;
	background: #f2f2f2;
	color: #959595;
}

.pagination span a,
.pagination span a:link,
.pagination span a:visited {
	border-color: #b5b5b5;
	background: #e7e7e7;
	color: #525252;
}

/* Pagination on topics list */
.row .pagination span a {
	margin-right: 0;
	margin-left: 4px;
	border-color: #b5b5b5;
	background: #f9f9f9;
	color: #6b6b6b;
}

.pagination span a:focus,
.pagination span a:hover,
.pagination span a:active,
.row .pagination span a:focus,
.row .pagination span a:hover,
.row .pagination span a:active,
li.pagination span a:hover {
	border-color: #bc2a4d;
	background: #bc2a4d;
	color: #fff;
}

/* Bottom pagination on memberlist */
.section-memberlist hr + ul.linklist .pagination {
	margin-top: 5px;
}

/**
 * Miscellaneous
 */
.inventia-no-items {
	text-align: center;
}

/* Remove image rounded corners to use border-radius later */
span.corners-top,
span.corners-bottom,
span.corners-top span,
span.corners-bottom span {
	display: none;
	background: none;
}

/* Small links near forums */
ul.linklist li {
	margin-bottom: 8px;
	line-height: 18px;
	font-size: 12px;
}

/* Forums layout related links */
#search-box a:hover,
#search-box a:active,
.navbg a:hover,
.navbg a:active,
.forumbg .header a:hover,
.forumbg .header a:active,
.forabg .header a:hover,
.forabg .header a:active,
th a:hover,
th a:active {
	color: #fff;
}

a.forumtitle:hover,
a.forumtitle:active,
a.topictitle:hover,
a.topictitle:active {
	color: #bc2a4d;
}

a.topictitle:visited {
	color: #6b6b6b;
}

a.top {
	width: auto;
	height: auto;
	background: none;
	color: #b5b5b5;
	text-indent: initial;
	letter-spacing: normal;
	font-size: 14px;
}

a.top:focus,
a.top:hover,
a.top:active {
	color: #959595;
}

a.top2 {
	display: none;
	background-image: none;
}

a.left,
a.left:active,
a.left:visited,
a.right,
a.right:active,
a.right:visited {
	padding: 0;
	background: none;
}

a.left:hover,
a.right:hover {
	text-decoration: underline;
	color: #bc2a4d;
}

a.left::before,
a.right::after {
	display: inline-block;
	color: #959595;
	font-family: FontAwesome;
}

a.left::before {
	content: "\f060";
	margin-right: 6px;
}

a.right::after {
	content: "\f061";
	margin-left: 6px;
}

hr.dashed {
	border-top: 1px dotted #c2c2c2;
}
