<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>
    </head>
    <body ng-app="fav">
        {% include 'includes/header2.twig' %}

        <div class="row">
            <div class="large-3 large-offset-1 medium-3 small-12 columns">
                <ul class="no-bullet">
                    <h6>Menu</h6>
                    {% for g in groupe %}
                        {% if g.lvl > lvl %}
                            <li><a><del>Chapitre {{g.lvl}} </del></a>&nbsp;<img src="../../public/img/cadenas.png" title="Il faut réussir le QCM de l'étape précédante pour dévérouiller le cours." alt="cadenas"/></li>
                        {% else %}
                            <li><a href="{{cours.id_gro}}/chapitre/{{g.lvl}}" >Chapitre {{g.lvl}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="large-3 large-offset-1 medium-3 medium-push-1 small-6 columns">
                <a ng-hide="{{bprec}}" href="{{cours.id_gro}}/chapitre/{{cours.lvl-1}}" class="button" >Précedent</a>
                <a ng-show="{{bprec}}" href="" class="button disabled" >Précedent</a>
            </div>
            <div class="large-3 large-offset-1 medium-3 medium-push-1 small-6 columns">
                <a ng-hide="{{bsuiv}}" href="{{cours.id_gro}}/chapitre/{{cours.lvl+1}}" class="button">Suivant</a>
                <a ng-show="{{bsuiv}}" href="" class="button disabled">Suivant</a>
            </div>
        </div>

        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <div class="callout large">
                    <div class="row">
                        <div class="large-8 medium-8 small-8 columns">
                            <h3>Cours : <b>{{titre|e}}</b>, <i>Chapitre {{cours.lvl}}</i></h3>
                        </div>
                        <div class="large-1 medium-1 small-1 columns" ng-controller="favoris">
                            <form method="post">
                                <img ng-hide="getfav" src="../../public/img/favoris0.jpg" width="32px" height="auto" ng-click="changefav('infav')">
                                <img ng-show="getfav" src="../../public/img/favoris1.png" width="32px" height="auto" ng-click="changefav('outfav')">
                            </form>
                        </div>
                    </div><hr>
                    <div class="row">
                        <div class="large-12 medium-12 small-12">
                          <!-- penser a changer le chemin si hebergé !! -->
                            <iframe class="cours" src="http://localhost/mooc_final/public/cours/{{cours.pdf_cou}}" width="100%" height="1000" align="middle"></iframe>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 medium-12 small-12">
                            {% if cours.lien_video != "no video" %}
                                <iframe width="100%" height="450" src="{{cours.lien_video}}"></iframe>
                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 medium-12 columns">
                <div class="callout large">
                    <h3>QCM :</h3><hr>
                    <form method="post" action="{{cours.id_cou}}/resultat">
                        {% for q in qcm %}
                        <div class="row">
                            <div class="large-12 medium-12 columns">
                                <u>Question {{q.numquestion|e}} :</u> <b>{{q.question|e}}</b>
                            </div>
                        </div><br>
                        {% for r in q['Reponse'] %}
                            <div class="row">
                                <div class="large-12 large-push-1 medium-12 medium-push-1 columns">
                                    <input type="radio" name="{{q.numrep|e}}" value="{{r}}" autofocus required /> - {{r|e}}
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                        <div class="row">
                            <div class="large-2 large-push-5 medium-2 medium-push-5 columns">
                                <b>Pas de QCM !</b>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="row">
                            <div class="large-2 large-push-10 medium-2 medium-push-10 columns">
                                <input type="submit" value="Ok" class="button">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'includes/paramScript2.html' %}
        <script src="../../public/lib/angular.min.js"></script>
        <script type="text/javascript">
            var app = angular.module('fav', []);

            app.controller('favoris', ['$scope', '$window', function($scope, $window)
                {
                if({{fav}} == 0)
                    $scope.getfav = false;
                else $scope.getfav = true;
                // <!-- penser a changer le chemin si hebergé !! -->
                var url = "../";
                $scope.changefav = function(etat)
                {
                    if(etat == "infav")
                    {
                        $scope.getfav = true;
                        $window.location = url+"favoris/add/{{session.id}}/{{cours.id_gro}}";
                    }
                    else if(etat == "outfav")
                    {
                        $scope.getfav = false;
                        $window.location = url+"favoris/del/{{session.id}}/{{cours.id_gro}}";
                    }
                }
            }]);
        </script>

    </body>
</html>
