<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8">
        <title>MOOC</title>
        <link rel="stylesheet" href="../../../css/ajout.css" />

        <!-- Make sure you have the foundation base, and icons (v3) CSS -->
        <link rel="stylesheet" type="text/css" href="../../../css/foundation.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/foundation-icons.css" />

        <!-- Add the foundation calendar CSS -->
        <link rel="stylesheet" type="text/css" href="../../../css/foundation_calendar.css" />

        <!-- Make sure you have jQuery, date.js loading properly -->
        <script type="text/javascript" src="../../../js/jquery.js" ></script>
        <script type="text/javascript" src="../../../js/date.js" ></script>

        <!-- Add the foundation calendar Javascript -->
        <script type="text/javascript" src="../../../js/foundation_calendar.js" ></script>
        <script type="text/javascript" src="../../../js/date-helpers.js" ></script>
        <script type="text/javascript" src="../../../js/string-helpers.js" ></script>
    </head>

    <body ng-app="fav">
        <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
          <button class="btn-menu" type="button" data-toggle></button>
          <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar" id="example-menu">
            <div class="top-bar-left">
                <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
                    <li class="menu-text">MOOC</li>
                    <li><a href="../../../">Accueil</a></li>
                    <li class="has-submenu">
                        {% if session.id is defined %}
                            <a href="">{{session.pnom|e}} {{session.nom|e}}</a>
                            <ul class="submenu menu vertical" data-submenu>
                                <li><a href="../../../user/{{session.id|e}}">Profil</a></li>
                                {% if session.etat == "Professeur" %}
                                    <li><a href="../../../user/{{session.id|e}}/mescours">Mes cours</a></li>
                                    <li><a href="../../../user/{{session.id|e}}/status/Etudiant">Devenir étudiant</a></li>
                                {% endif %}
                                {% if session.etat == "Etudiant" %}
                                    <li><a href="../../../user/{{session.id|e}}/status/Professeur">Devenir professeur</a></li>
                                {% endif %}
                                <li><a href="../../../logout">Déconnexion</a></li>
                            </ul>
                        {% else %}
                            <a href="">Mon compte</a>
                            <ul class="submenu menu vertical" data-submenu>
                                <li><a href="../../../login">Connexion</a></li>
                                <li><a href="../../../signin">Inscription</a></li>
                            </ul>
                        {% endif %}
                    </li>
                    <li><a href="../../../../forum">Forum</a></li>
                    <li class="has-submenu">
                        <a>Matières</a>
                        <ul class="submenu menu vertical" data-submenu>
                            {% for mat in matiere %}
                                <li><a href="../../../matiere/{{mat.libelle_mat}}">{{mat.libelle_mat}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="">Gestion</a>
                        <ul class="submenu menu vertical" data-submenu>
                            {% if session.etat == "Professeur" %}
                                <li><a href="../../../cours/create">Déposer un cours</a></li>
                                <li><a href="../../../cours/ajout">Ajouter un chapitre</a></li>
                                <li><a href="../../../matiere/create">Créer une matière</a></li>
                                <li><a href="../../../categorie/create">Créer une categorie</a></li>
                            {% endif %}
                            {% if session.etat == "Etudiant" %}
                                <li><a href="../../../user/{{session.id|e}}/notes">Mes notes</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if session.id is defined %}
                        <li class="has-submenu"><a href="">Favoris</a>
                            <ul class="submenu menu vertical" data-submenu>
                                {% for fav in favoris %}
                                    {% for g in groupe_fav %}
                                        {% if g.id_gro == fav.id_gro %}
                                            <li class="menu-text">
                                        <a class="titre_fav" href="../../../cours/{{g.id_gro}}">{{g.titre_cou}}</a>
                                        <a class="img_fav" href="../../../favoris/delete/{{session.id}}/{{g.id_gro}}"><img src="../../../img/supprimer.png"/></a>
                                    </li>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                <li><a>Aucun favoris</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if is_admin != 0 %}
                            <li><a href="../../../adm">Administration</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <div class="row">
                        <div class="large-12 columns">
                            <form method="post" action="../../../cherche">
                                <div class="large-8 columns">
                                    <div class="row collapse postfix-radius">
                                        <div class="small-9 columns">
                                            <input type="search" placeholder="Rechercher" name="cherche">
                                        </div>
                                        <div class="small-3 columns">
                                            <input type="submit" class="postfix btn-search" value="Rechercher"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <br/>

        {% if erreur is defined %}
        <div class="row">
            <div class="large-6 large-push-3 medium-6 medium-push-3 small-12 columns">
                <p class="error">{{erreur|e}}</p>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="large-3 large-push-1 medium-3 small-12 columns">
                <ul class="no-bullet">
                    <h6>Menu</h6>
                    {% for g in groupe %}
                        {% if g.lvl > lvl %}
                            <li><a><del>Chapitre {{g.lvl}} </del></a>&nbsp;<img src="../../../img/cadenas.png" title="Il faut réussir le QCM de l'étape précédante pour dévérouiller le cours." alt="cadenas"/></li>
                        {% else %}
                            <li><a href="{{g.lvl}}" >Chapitre {{g.lvl}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="large-3 large-offset-1 medium-3 medium-push-1 small-6 columns">
                <a ng-hide="{{bprec}}" href="{{cours.lvl-1}}" class="button" >Précedent</a>
                <a ng-show="{{bprec}}" href="" class="button disabled" >Précedent</a>
            </div>
            <div class="large-3 large-push-1 medium-3 medium-push-1 small-6 columns">
                <a ng-hide="{{bsuiv}}" href="{{cours.lvl+1}}" class="button" >Suivant</a>
                <a ng-show="{{bsuiv}}" href="" class="button disabled" >Suivant</a>
            </div>
        </div>

        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <div class="callout large">
                    <div class="large-8 medium-8 small-8 columns">
                        <h3>Cours : <b>{{titre|e}}</b>, <i>Chapitre {{cours.lvl}}</i></h3>
                    </div>
                    <div class="large-1 large-push-3 medium-1 medium-push-3 small-1 small-push-3 columns" ng-controller="favoris">
                        <form method="post">
                            <img ng-hide="getfav" src="../../../../public/img/favoris0.jpg" width="32px" height="auto" ng-click="changefav('infav')">
                            <img ng-show="getfav" src="../../../../public/img/favoris1.png" width="32px" height="auto" ng-click="changefav('outfav')">
                        </form>
                    </div>
                    <iframe src="http://mooc.890m.com/public/cours/{{cours.pdf_cou}}" width="100%" height="1000" align="middle"></iframe>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 medium-12 columns">
                <div class="callout large">
                    <h3>QCM :</h3><hr>
                    <form method="post" action="../resultat">
                        {% for q in qcm %}
                        <div class="row">
                            <div class="large-12 medium-12 columns">
                                <u>Question {{q.numquestion|e}} :</u> <b>{{q.question|e}}</b>
                            </div>
                        </div><br>
                        {% for r in q['Reponse'] %}
                            <div class="row">
                                <div class="large-12 large-push-1 medium-12 medium-push-1 columns">
                                    <input type="radio" name="{{q.numrep|e}}" value="{{r}}" autofocus required /> - {{r|e}}
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                        <div class="row">
                            <div class="large-2 large-push-5 medium-2 medium-push-5 columns">
                                <b>Pas de QCM !</b>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="row">
                            <div class="large-2 large-push-10 medium-2 medium-push-10 columns">
                                <input type="submit" value="Ok" class="button">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="../../../js/vendor/jquery.min.js"></script>
        <script src="../../../js/vendor/what-input.min.js"></script>
        <script src="../../../js/foundation.min.js"></script>
        <script src="../../../js/app.js"></script>


        <script src="../../../../public/lib/angular.min.js"></script>
        <script type="text/javascript">
            var app = angular.module('fav', []);

            app.controller('favoris', ['$scope', '$window', function($scope, $window)
                {
                if({{fav}} == 0)
                    $scope.getfav = false;
                else $scope.getfav = true;
                var url = "http://mooc.890m.com/public/";
                $scope.changefav = function(etat)
                   {
                   if(etat == "infav")
                        {
                        $scope.getfav = true;
                        $window.location = url+"favoris/add/{{session.id}}/{{cours.id_gro}}";
                        }
                   else if(etat == "outfav")
                        {
                        $scope.getfav = false;
                        $window.location = url+"favoris/del/{{session.id}}/{{cours.id_gro}}";
                        }
                   }
                }]);
        </script>

    </body>
</html>
