<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MOOC</title>

    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/app.css" />
    <link rel="stylesheet" href="../css/ajout.css" />
  </head>
  <body>

    {% include 'includes/header2.twig' %}

    <div class="row">
      <div class="large-8 large-push-2 medium-8 medium-push-2 columns">
        <div class="callout large">
          <h3>Déposer un cours</h3><hr>
          <div class="row">

            <form class="" action="create" method="post" enctype="multipart/form-data">

              <div class="row">
                <div class="large-3 columns">
                  <label>Titre : </label>
                </div>
                <div class="large-9 columns">
                  <input type="text" name="titre" value="{{titre_fail|e}}" placeholder="Insérer le titre" required>
                </div>
              </div>

              <div class="row">
                <div class="large-3 columns">
                  <label>Matière : </label>
                </div>
                <div class="large-9 columns">
                  <select name="matiere" required>
                    {% for mat in matieres %}
                      <option value="{{mat.libelle_mat|e}}">{{mat.libelle_mat|e}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="large-8 large-push-2 columns">
                  <i><a href="../matiere/create">La matière n'éxiste pas ? Créez votre matiere ici!</a></i>
                </div>
              </div><br>

              <div class="row">
                <div class="large-3 columns">
                  <label>Cours : </label>
                </div>
                <div class="large-9 columns">
                  <input type="file" name="pdf" value="" required>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <p class="indice">* Seul les fichiers pdf sont acceptés.</p>
                </div>
              </div>

              <div class="row">
                <div class="large-3 columns">
                  <label>Auteur : </label>
                </div>
                <div class="large-9 columns">
                  <input type="text" name="auteur" value="" placeholder="Précisez l'auteur si ce n'est pas votre cours (faculatif)">
                </div>
              </div>

              {% if error is defined %}
              <div class="row">
                <div class="large-10 large-push-1 columns">
                  <p class="error">{{error|e}}</p>
                </div>
              </div><br>
              {% endif %}

              <div class="row">
                <div class="large-2 large-push-4 medium-2 medium-push-4 columns">
                  <input type="submit" name="goqcm" value="Valider et passer au qcm">
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
    </div>

    {% include 'includes/paramScript2.html' %}

  </body>
</html>
