<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>
    </head>
    <body>

        {% include 'includes/header2.twig' %}

        <div class="row">
            <div class="large-8 large-push-2 medium-8 medium-push-2 columns">
                <div class="callout large">
                    <h3>Déposer un cours</h3><hr>
                    <div class="row">

                        <form class="" action="create" method="post" enctype="multipart/form-data">

                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns" style="padding:0;">
                                    <span class="prefix">Cours </span>
                                </div>
                                <div class="large-9 medium-9 small-12 columns" style="padding:0">
                                    <input type="file" name="cours" value="" required style="padding:0">
                                </div>
                            </div>
                            <div class="large-3 medium-3 small-12 columns" style="padding:0">
                                <span class="prefix">Annexe vidéo <i>optionnel</i> : </span>
                            </div>
                            <div class="large-9 medium-9 small-12 columns" style="padding:0">
                                <input type="text" name="lien" value="" placeholder="Copier le lien de votre video youtube si besoin">
                            </div>

                            <div class="row">
                                <div class="large-12 medium-12 small-12columns">
                                    <p class="indice">* Seul les fichiers pdf sont acceptés.</p>
                                </div>
                            </div>

                            {% if error is defined %}
                            <div class="row">
                                <div class="large-10 large-push-1 columns">
                                    <p class="error">{{error|e}}</p>
                                </div>
                            </div><br>
                            {% endif %}
                            <input type="hidden" name="id_groupe" value="{{id_groupe}}">

                            <div class="row">
                                <div class="large-2 large-push-4 medium-2 medium-push-4 columns">
                                    <input type="submit" name="goqcm" class="button" value="Valider et passer au qcm">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        {% include 'includes/paramScript2.html' %}

    </body>
</html>
