<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>

        <script type='text/javascript'>
            function send(){
                var xhr = null;
                if(window.XMLHttpRequest)
                    xhr = new XMLHttpRequest();
                else if(window.ActiveXObject)
                {
                    try
                    {
                        xhr = new ActiveXObject("Msxml2.XMLHTTP");
                    }
                    catch (e)
                    {
                        xhr = new ActiveXObject("Microsoft.XMLHTTP");
                    }
                }
                else
                {
                    alert("Votre navigateur ne supporte pas les objets XMLHTTPRequest...");
                    xhr = false;
                }
                if(document.getElementById('matiere').options[0].value == -1)
                    document.getElementById('matiere').remove(document.getElementById('matiere').options[0]);

                sel = document.getElementById('matiere');
                mat= sel.options[sel.selectedIndex].value;
                xhr.onreadystatechange = function()
                {
                    if(xhr.readyState == 4 && xhr.status == 200)
                    {
                        leselect = xhr.responseText;
                        leselect = JSON.parse(leselect);
                        while(document.getElementById('categorie').options.length != 0 || mat == -1)
                        {
                            document.getElementById('categorie').remove(document.getElementById('categorie').options[0]);
                        }
                        for(var i = 0; i < leselect.length; i++)
                        {
                            var option = document.createElement("option");
                            option.text = leselect[i].libelle_cat;
                            document.getElementById('categorie').add(option);
                        }
                    }
                }
                xhr.open("GET","../donnees/cat/"+mat,true);
                xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                xhr.send("mat="+mat);
            }
        </script>
    </head>
    <body>
        {% include 'includes/header2.twig' %}

        <div class="row">
            <div class="large-8 large-push-2 medium-8 medium-push-2 columns">
                <div class="callout large">
                    <h3>Déposer un cours</h3><hr>
                    <div class="row">

                        <form class="" action="create" method="post" enctype="multipart/form-data">

                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns" style="padding:0">
                                    <span class="prefix">Titre</span>
                                </div>
                                <div class="large-9 columns" style="padding:0">
                                    <input type="text" name="titre" value="{{titre_fail|e}}" placeholder="Insérer le titre" required>
                                </div>
                            </div>

                            {% if error is defined %}
                            <div class="row">
                                <div class="large-12 columns">
                                    <p class="error">{{error|e}}</p>
                                </div>
                            </div>
                            {% endif %}

                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns"  style="padding:0">
                                    <span class="prefix">Matiere</span>
                                </div>
                                <div class="large-9 columns" style="padding:0">
                                    <select name="matiere" id="matiere" required onchange="send()">
                                        <option value="-1">Selectionnez une matière</option>
                                        {% for mat in matieres %}
                                        <option value="{{mat.libelle_mat|e}}">{{mat.libelle_mat|e}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns" style="padding:0">
                                    <span class="prefix">Categorie</span>
                                </div>
                                <div class="large-9 columns" style="padding:0">
                                    <select name="categorie" id="categorie" required>
                                    </select>
                                </div>
                            </div>


                            <div class="row">
                                <div class="large-12 medium-12 small-12 text-center columns">
                                    <input class="button" type="submit" name="go" value="Valider et passer à la creation des cours">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/paramScript2.html' %}

    </body>
</html>
