<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MOOC</title>

  </head>
  <body>
    {% include 'includes/header3.twig' %}

    <div class="row">
        <div class="large-12 medium-12 columns">
            <div class="callout large">
                <h3>Mes cours :</h3><hr>
                    <ul class="no-bullet">
                    {% for l in listcours %}
                        <li><a href="../../cours/{{l.id}}">{{l.titre}}</a></li>
                    {% else %}
                        <li>Vous n'avez créé aucun cours !</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% include 'includes/paramScript3.html' %}

  </body>
</html>
