</div>

<div class="inventia-footer-wrapper">
	<div class="inventia-footer">
		<ul class="inventia-footer-menu">
			<li class="inventia-footer-menu-item"><a href="{U_INDEX}" title="{L_INDEX}">{L_INDEX}</a></li>
			<!-- IF not S_IS_BOT --><li class="inventia-footer-menu-item"><a href="{U_DELETE_COOKIES}" title="{L_DELETE_COOKIES}">{L_DELETE_COOKIES}</a></li><!-- ENDIF -->
			<li class="inventia-footer-menu-item">{S_TIMEZONE}</li>
		</ul>
		<footer class="inventia-credits">
			{CREDIT_LINE}<br />
			Style we_universal created by <a href="http://inventea.com" title="Premium phpBB styles, HTML5 &amp; CSS3 templates">Inventea</a>.
			<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}
			<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}
		</footer-->
	</div>

	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<script src="{T_TEMPLATE_PATH}/assets/zepto/zepto.min.js"></script>

<script>
$('.inventia-toggle').click(function(e) {
	$(this).next('.inventia-dropdown-menu').toggle()
	e.stopPropagation();
});

$(document).click(function() {
	$('.inventia-dropdown-menu').hide();
});
</script>

</body>
</html>
