<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>
    </head>
    <body>

        {% include 'includes/header2.twig' %}

        <div class="row">
            <div class="large-12 medium-12 columns">
                <div class="callout large">
                    <h3>{{mat.libelle_mat|e}}</h3><hr>
                    <ul class="accordion" class="accordion" data-accordion data-allow-all-closed="true">
                        {% for cat in categorie %}
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">{{cat.libelle_cat|e}}</a>
                            <div class="accordion-content" data-tab-content>
                                <ul class="no-bullet">
                                    {% set trouv = null %}
                                    {% for c in cours %}
                                        {% if c.id_cat == cat.id_cat %}
                                            {% set trouv = "ok" %}
                                            <li><a href="../cours/{{c.id_gro}}">{{c.titre_cou|e}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if trouv is null %}
                                        <li>Pas de cours</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        {% else %}
                            <li><a href="../categorie/create">Aucune catégorie dans cette matière</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% include 'includes/paramScript2.html' %}
    </body>
</html>
