<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MOOC</title>

    <link rel="stylesheet" href="../public/css/foundation.css" />
    <link rel="stylesheet" href="../public/css/app.css" />
    <link rel="stylesheet" href="../public/css/ajout.css" />
  </head>
  <body>
      
      

    {% include 'includes/header.twig' %}
      
      {% for matiere in matieres  %}
      
      

    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#panel{{matiere['id_mat']}}">{{matiere['libelle_mat']}}</a>
        <div id="panel{{matiere['id_mat']}}" class="content active">
          
            <ul>
                {% for cour1 in cours  %}
                    {% if cour1['id_mat'] == matiere['id_mat'] %}
                
                        {% for cour in cours  %}
                        {% if cour['id_mat'] == matiere['id_mat'] %}
                            <li>
                         <a>{{cour['titre_cou']}}</a>
                            </li>
                        {% endif %}
                        {% endfor %}
                {% else %}
                    pas de cours
                {% endif %}
            {% endfor %}
            </ul>
        </div>
      </li>
      {% endfor %}

    {% include 'includes/paramScript.html' %}
  </body>
</html>