<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>

    </head>
    <body>

        {% include 'includes/header3.twig' %}

        <div class="row">
            <div class="large-12 medium-12 columns">
                <div class="callout large">
                    <h3>Mes cours : </h3><hr>
                    <ul>
                        {% for c in cours %}
                            <li><a href="../../cours/{{c.id_cou}}">{{c.titre_cou}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        {% include 'includes/paramScript3.html' %}

    </body>
</html>
