<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>

    </head>
    <body>

        {% include 'includes/header.twig' %}

        <div class="row">
            <div class="large-8 large-push-2 medium-8 medium-push-2 columns">
                <div class="callout large">
                    <h3>Connexion</h3><hr>
                    <div class="row">

                        <form class="" action="login" method="post">

                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns" style="padding:0">
                                    <span class="prefix">Email</span>
                                </div>
                                <div class="large-9 columns" style="padding:0">
                                    <input type="email" name="mail" value="{{mail_fail|e}}" placeholder="Insérer votre email" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns" style="padding:0">
                                    <span class="prefix">Mot de passe</span>
                                </div>
                                <div class="large-9 columns" style="padding:0">
                                    <input type="password" name="pass" value="" placeholder="Insérer votre password" required>
                                </div>
                            </div>

                            {% if error is defined %}
                            <div class="row">
                                <div class="large-12 columns">
                                    <p class="error">{{error|e}}</p>
                                </div>
                            </div>
                            {% endif %}

                            <div class="row">
                                <div class="large-12 medium-12 small-12 text-center columns">
                                    <input type="submit" name="conn" value="Connexion" class="button">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/paramScript.html' %}

    </body>
</html>
