<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>
    </head>
    <body ng-app="app">

        {% include 'includes/header3.twig' %}
        <div class="row">
            <div class="large-8 large-push-2">
                <div class="callout large">
                    <h3>Modifier mon profil</h3><hr><br>
                    <form method="post" class="large-push-2">
                        <div class="row">
                            <div class="large-8 columns">
                                <div class="row collapse prefix-radius">
                                    <div class="large-3 medium-3 small-12 columns">
                                        <span class="prefix">Adresse</span>
                                    </div>
                                    <div class="large-9 columns">
                                        <input required type="text" name="adr" value="{{compte.adresse_com|e}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-8 columns">
                                <div class="row collapse prefix-radius">
                                    <div class="large-3 medium-3 small-12 columns">
                                        <span class="prefix">Code postal</span>
                                    </div>
                                    <div class="large-9 columns">
                                        <input required type="text" name="cp" value="{{compte.cp_com|e}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-8 columns">
                                <div class="row collapse prefix-radius">
                                    <div class="large-3 medium-3 small-12 columns">
                                        <span class="prefix">Ville</span>
                                    </div>
                                    <div class="large-9 columns">
                                        <input required type="text" name="vil" value="{{compte.ville_com|e}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-8 columns">
                                <div class="row collapse prefix-radius">
                                    <div class="large-3 medium-3 small-12 columns">
                                        <span class="prefix">Date de naissance</span>
                                    </div>
                                    <div class="large-9 columns">
                                        <input type="text" data-date-format="%d/%m/%Y" data-date name="nais" value="{{compte.dateNaiss_com}}" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-12 medium-12 small-12 text-center columns">
                                <button class="button large-3" name="profil">Modifier</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% include 'includes/paramScript3.html' %}


    </body>
</html>
