<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>

    </head>
    <body ng-app="app">

        {% include 'includes/header2.twig' %}

        <div class="row">
            <div class="callout">
                <div class="large-12 medium-12 small-12 colums">
                    <h3>Informations principales</h3>
                    <hr>
                    <div id="tab_gen" class="large-12 large-push-1 medium-6 small-12 columns">
                        <table>
                            <tr>
                                <td>Nom</td><td>{{compte.nom_com|e}}</td>
                            </tr>
                            <br>
                            <tr>
                                <td>Prénom</td><td>{{compte.prenom_com|e}}</td>
                            </tr>
                            <br>
                            <tr>
                                <td>Mail</td><td>{{compte.mail_com|e}}</td>
                            </tr>
                        </table>
                    </div>

                    <div id="co" class="large-12 medium-12 small-12 columns">
                        <center>Connecté en tant que <b>{{libelle|e}}</b></center>
                    </div>


                    <div id="etat" class="large-12 medium-12 small-12 columns">
                        {% if etat.actif_etc == 0 %}
                            <a href="../verif">Votre compte n'est pas activé.</a>
                        {% else %}
                            <center><i>Votre compte est activé. Inscrit depuis le {{compte.dateCreat_com|date('d/m/Y')}}.</i></center>
                        <br>
                        {% endif %}
                    </div>
                </div>

                <div class="large-12 medium-12 small-12 colums">
                    <div class="large-12 medium-12 small-12 colums">
                        <hr style="border-top: 1px dashed">
                    </div>
                </div>

                <div id"infogen" class="large-12 medium-12 small-12 colums">
                    <h3>Informations générales</h3>
                    <hr>

                    <div id="tab_gen" class="large-12 large-push-1 medium-10 small-12 columns" ng-controller="profil">
                        <table>
                            <tr>
                                <td>Adresse</td><td> {{compte.adresse_com|e}}</td>
                            </tr>
                            <br>
                            <tr>
                                <td>Code Postal</td><td>{{compte.cp_com|e}}</td>
                            </tr>
                            <br>
                            <tr>
                                <td>Ville</td><td>{{compte.ville_com|e}}</td>
                            </tr>
                            <br>
                            <tr>
                                <td>Naissance</td><td>{{compte.dateNaiss_com|date("d/m/Y")}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 medium-12 small-12 text-center">
                        <a class="button" href="{{session.id}}/modif" style="margin-top: 20px;">Modifier son profil</a>
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/paramScript2.html' %}

    </body>
</html>
