<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>

    </head>
    <body>

        {% include 'includes/header.twig' %}

        <div class="row">
            <div class="large-8 large-push-2 medium-8 medium-push-2 columns">
                <div class="callout large">
                    <h3>Inscription</h3><hr>
                    <div class="row">

                        <form class="" action="login" method="post">

                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns" style="padding:0">
                                    <span class="prefix">Nom</span>
                                </div>
                                <div class="large-9 medium-9 small-12 columns" style="padding:0">
                                    <input type="text" name="nom" value="{{nom_fail|e}}" placeholder="Insérer votre nom" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns" style="padding:0">
                                    <span class="prefix">Prénom</span>
                                </div>
                                <div class="large-9 medium-9 small-12 columns" style="padding:0">
                                    <input type="text" name="pnom" value="{{pnom_fail|e}}" placeholder="Insérer votre prénom" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns" style="padding:0">
                                    <span class="prefix">Mail</span>
                                </div>
                                <div class="large-9 medium-9 small-12 columns" style="padding:0">
                                    <input type="email" name="mail" value="{{mail_fail|e}}" placeholder="Insérer votre mail" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns" style="padding:0">
                                    <span class="prefix">Confirmation mail</span>
                                </div>
                                <div class="large-9 medium-9 small-12 columns" style="padding:0">
                                    <input type="email" name="cmail" value="{{cmail_fail|e}}" placeholder="Insérer votre mail" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns" style="padding:0">
                                    <span class="prefix">Mot de passe</span>
                                </div>
                                <div class="large-9 medium-9 small-12 columns" style="padding:0">
                                    <input type="password" name="pass" value="" placeholder="Insérer votre password" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns" style="padding:0">
                                    <span class="prefix">Confirmation mot de passe</span>
                                </div>
                                <div class="large-9 medium-9 small-12 columns" style="padding:0">
                                    <input type="password" name="cpass" value="" placeholder="Insérer votre password" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-12 medium-12 small-12 text-center columns" style="">
                                    <input type="radio" name="etat" value="Etudiant" checked id="pokemonRed"><label>Etudiant</label>
                                    <input type="radio" name="etat" value="Professeur" id="pokemonBlue"><label>Professeur</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns" style="padding:0">
                                    <span class="prefix">Référence</span>
                                </div>
                                <div class="large-9 medium-9 small-12 columns" style="padding:0">
                                    <input type="text" name="ref" value="{{ref_fail|e}}" placeholder="Insérer votre référence" required>
                                </div>
                            </div>

                            {% if error is defined %}
                            <div class="row">
                                <div class="large-12 columns">
                                    <p class="error">{{error|e}}</p>
                                </div>
                            </div>
                            {% endif %}

                            <div class="row">
                                <div class="large-12 medium-12 small-12 text-center columns">
                                    <input type="submit" name="ins" value="Inscription" class="button">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/paramScript.html' %}

    </body>
</html>
