<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>

    </head>
    <body>

        {% include 'includes/header2.twig' %}

        <div class="row">
            <div class="large-12 columns">
                <br/>
                <h5>Un code vous a été envoyé sur le mail <b>{{mail|e}}</b></h5>
                <p class="indice">Vous receverez le code d'activation sur votre boite mail en 2min maximum.<br/><br/>
                <div class="row">
                    <div class="large-4 columns">
                        <p>Veuillez insérer votre code d'activation :</p>
                        <form class="" action="verif" method="post">
                            </div>
                        <div class="large-8 columns">
                            <input type="text" name="code" value="" required placeholder="Insérer votre code">
                        </div>
                        <input type="hidden" name="mail" value="{{mail|e}}"><br/>
                        <div class="large-2 large-push-5">
                            <input type="submit" name="valider" class="button" value="Valider">
                        </div>
                    </div>
                    </form>
            </div>
        </div>

        {% include 'includes/paramScript2.html' %}
    </body>
    </body>
