<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>

    </head>
    <body>

        {% include 'includes/header2.twig' %}

        <div class="row">

            <div class="large-8 large-push-2 medium-8 medium-push-2 columns">
                <div class="callout large">
                    <h3>Créer une catégorie</h3><hr>
                    <div class="row">

                        <form class="" action="create" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns" style="padding:0">
                                    <span class="prefix">Matière</span>
                                </div>
                                <div class="large-9 columns" style="padding:0">
                                    <select name="matiere" id="matiere" required onchange="send()">
                                        <option value="-1">Selectionnez une matière</option>
                                        {% for mat in matieres %}
                                            <option value="{{mat.libelle_mat|e}}">{{mat.libelle_mat|e}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns" style="padding:0">
                                    <span class="prefix">Titre</span>
                                </div>
                                <div class="large-9 columns" style="padding:0">
                                    <input type="text" name="titre" value="{{titre_fail|e}}" placeholder="Insérer le titre" required>
                                </div>
                            </div>
                            {% if error is defined %}
                            <div class="row">
                                <div class="large-10 large-push-1 columns">
                                    <p class="error">{{error|e}}</p>
                                </div>
                            </div><br>
                            {% endif %}
                            <br>
                            <div class="row">
                                <div class="large-12 medium-12 small-12 text-center columns">
                                    <input type="submit" name="creer" class="button" value="Creer categorie">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/paramScript2.html' %}

    </body>
</html>
