<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="btn-menu" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<link rel="stylesheet" href="../../public/css/ajout.css" />

<!-- Make sure you have the foundation base, and icons (v3) CSS -->
<link rel="stylesheet" type="text/css" href="../../public/css/foundation.css" />
<link rel="stylesheet" type="text/css" href="../../public/css/foundation-icons.css" />

<!-- Add the foundation calendar CSS -->
<link rel="stylesheet" type="text/css" href="../../public/css/foundation_calendar.css" />

<!-- Make sure you have jQuery, date.js loading properly -->
<script type="text/javascript" src="../../public/js/jquery.js" ></script>
<script type="text/javascript" src="../../public/js/date.js" ></script>

<!-- Add the foundation calendar Javascript -->
<script type="text/javascript" src="../../public/js/foundation_calendar.js" ></script>
<script type="text/javascript" src="../../public/js/date-helpers.js" ></script>
<script type="text/javascript" src="../../public/js/string-helpers.js" ></script>

<div class="top-bar" id="example-menu">
    <div class="top-bar-left">
        <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
            <li class="menu-text">MOOC</li>
            <li><a href="../">Accueil</a></li>
            <li class="has-submenu">
                {% if session.id is defined %}
                    <a href="">{{session.pnom|e}} {{session.nom|e}}</a>
                    <ul class="submenu menu vertical" data-submenu>
                        <li><a href="../user/{{session.id|e}}">Profil</a></li>
                        {% if session.etat == "Professeur" %}
                            <li><a href="../user/{{session.id|e}}/mescours">Mes cours</a></li>
                            <li><a href="../user/{{session.id|e}}/status/Etudiant">Devenir étudiant</a></li>
                        {% endif %}
                        {% if session.etat == "Etudiant" %}
                            <li><a href="../user/{{session.id|e}}/status/Professeur">Devenir professeur</a></li>
                        {% endif %}
                        <li><a href="../logout">Déconnexion</a></li>
                    </ul>
                {% else %}
                    <a href="">Mon compte</a>
                    <ul class="submenu menu vertical" data-submenu>
                        <li><a href="../login">Connexion</a></li>
                        <li><a href="../signin">Inscription</a></li>
                    </ul>
                {% endif %}
            </li>
            <li><a href="../../forum">Forum</a></li>
            <li class="has-submenu">
                <a>Matières</a>
                <ul class="submenu menu vertical" data-submenu>
                    {% for mat in matiere %}
                        <li><a href="../matiere/{{mat.libelle_mat}}">{{mat.libelle_mat}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="has-submenu">
                <a href="">Gestion</a>
                <ul class="submenu menu vertical" data-submenu>
                    {% if session.etat == "Professeur" %}
                        <li><a href="../cours/create">Déposer un cours</a></li>
                        <li><a href="../cours/ajout">Ajouter un chapitre</a></li>
                        <li><a href="../matiere/create">Créer une matière</a></li>
                        <li><a href="../categorie/create">Créer une categorie</a></li>
                    {% endif %}
                    {% if session.etat == "Etudiant" %}
                        <li><a href="../user/{{session.id|e}}/notes">Mes notes</a></li>
                    {% endif %}
                </ul>
            </li>
            {% if session.id is defined %}
            <li class="has-submenu"><a href="">Favoris</a>
                <ul class="submenu menu vertical" data-submenu>
                    {% for fav in favoris %}
                        {% for g in groupe_fav %}
                            {% if g.id_gro == fav.id_gro %}
                               <li class="menu-text">
                                    <a class="titre_fav" href="../cours/{{g.id_gro}}">{{g.titre_cou}}</a>
                                    <a class="img_fav" href="../favoris/delete/{{session.id}}/{{g.id_gro}}"><img src="../img/supprimer.png"/></a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <li><a>Aucun favoris</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% if is_admin != 0 %} 
                    <li><a href="../adm">Administration</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <div class="row">
                <div class="large-12 columns">
                    <form method="post" action="../cherche">
                        <div class="large-8 columns">
                            <div class="row collapse postfix-radius">
                                <div class="small-9 columns">
                                    <input type="search" placeholder="Rechercher" name="cherche">
                                </div>
                                <div class="small-3 columns">
                                    <input type="submit" class="postfix btn-search" value="Rechercher"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </ul>
    </div>
</div>
<br/>
