<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>

        <link rel="stylesheet" href="css/foundation.css" />
    </head>
    <body>

        {% include 'includes/header.twig' %}

        <div class="row" style="margin-bottom:50px">
            <div class="large-12 medium-12 small-10 small-centered colums">
                <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit >
                    <ul class="orbit-container">
                        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                        <li class="is-active orbit-slide">
                            <img class="orbit-image" src="img/ado.jpg" alt="Space">
                            <figcaption class="orbit-caption">Rejoignez la communauté</figcaption>
                        </li>
                        <li class="orbit-slide">
                            <img class="orbit-image" src="img/livre.jpg" alt="Space">
                            <figcaption class="orbit-caption">Découvrez des cours complets suivis de QCM pour vous tester</figcaption>
                        </li>
                        <li class="orbit-slide">
                            <img class="orbit-image" src="img/forum.jpg" alt="Space">
                            <figcaption class="orbit-caption">Venez discuter et partager vos questions avec tout le monde</figcaption>
                        </li>
                        <li class="orbit-slide">
                            <img class="orbit-image" src="img/note.jpg" alt="Space">
                            <figcaption class="orbit-caption">Obtenez une note après chaque QCM pour passer au cours suivant</figcaption>
                        </li>
                    </ul>
                    <nav class="orbit-bullets">
                        <button class="slide is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                        <button class="slide" data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                        <button class="slide" data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                        <button class="slide" data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 medium-12 small-10 small-centered colums">
                <h3>Derniers cours publiés</h3>
                <hr>
                <div class="large-12 medium-12 small-12 colums">
                    {% for c in cours %}
                    <div class="large-3 columns text-center">
                        <div class="callout">
                            <a href="cours/{{c.id_gro}}">{{c.titre_cou}}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                    </div>
            </div>
        </div>

        {% include 'includes/paramScript.html' %}

    </body>
</html>
