<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MOOC</title>

        <link rel="stylesheet" href="../public/css/foundation.css" />
        <link rel="stylesheet" href="../public/css/app.css" />
        <link rel="stylesheet" href="../public/css/ajout.css" />
    </head>
    <body>

        {% include 'includes/header.twig' %}

        <div class="row">
            <div class="large-12 medium-12 columns">
                <div class="callout large">
                    <h3>Resultat pour la recherche : {{recherche}}</h3><hr>
                    <ul class="accordion" class="accordion" data-accordion data-allow-all-closed="true">
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Resultat de la recherche pour les matieres ({{mats|length}}) </a>
                            <div class="accordion-content" data-tab-content>
                                <ul class="no-bullet">
                                    {% for m in mats %}
                                        <li><a href="#">{{m.libelle_mat}}</a></li>
                                    {% else %}
                                        <li>Pas de Reslutat </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <ul class="accordion" class="accordion" data-accordion data-allow-all-closed="true">
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Resultat de la recherche pour les categories ({{cats|length}}) </a>
                            <div class="accordion-content" data-tab-content>
                                <ul class="no-bullet">
                                    {% for ca in cats %}
                                        <li><a href="#">{{ca.libelle_cat}}</a></li>
                                        {% else %}
                                        <li>Pas de Reslutat </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <ul class="accordion" class="accordion" data-accordion data-allow-all-closed="true">
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Resultat de la recherche pour les cours ({{cours|length}}) </a>
                            <div class="accordion-content" data-tab-content>
                                <ul class="no-bullet">
                                    {% for c in cours %}
                                        <li><a href="cours/{{c.id_gro}}">{{c.titre_cou}}</a></li>
                                    {% else %}
                                        <li>Pas de Reslutat </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% include 'includes/paramScript.html' %}
    </body>
</html>